<!-- <ul class="rating inline-ul" 
    [ngClass]="{'darkGrayBackground': useDarkGrayBackground}">
    <li *ngFor="let star of stars; let i = index">
      <i class="fa fa-star" 
         [class]="{'checked': starValue  >= i}">
      </i>
    </li>
  </ul> -->
  <!-- {{starValue}} {{useDarkGrayBackground}} -->


    <p class="rating inline-ul">
      <!-- 1 star  -->
      <i [class]="(starValue == 0) 
                  ? 'far fa-star checked' 
                  : (starValue > 0 && starValue < 1) ? 'fas fa-star-half-alt' 
                                                     : 'fas fa-star checked'">
      </i>
  
      <!-- 2 star  -->
      <i [class]="(starValue > 1 && starValue < 2) 
                  ? 'fas fa-star-half-alt checked' 
                  : (starValue >= 2) ? 'fas fa-star checked' 
                                     : 'far fa-star checked'">
      </i>
  
      <!-- 3 star  -->
      <i [class]="(starValue > 2 && starValue < 3) 
                  ? 'fas fa-star-half-alt checked' 
                  : (starValue >= 3) ? 'fas fa-star checked' : 'far fa-star checked'"></i>
  
      <!-- 4 star  -->
      <i [class]="(starValue > 3 && starValue < 4) 
                  ? 'fas fa-star-half-alt checked' 
                  : (starValue >= 4) ? 'fas fa-star checked' : 'far fa-star checked'"></i>
  
      <!-- 5 star  -->
      <i [class]="(starValue > 4 && starValue < 5) 
                  ? 'fas fa-star-half-alt' 
                  : (starValue >= 5) ? 'fas fa-star checked' : 'far fa-star checked'"></i> 
    </p>



  <!-- <div>
    <button (click)="toggle()"
        [ngClass]="{'selected': (mapToolBarMode$ | async) === 0 }"
        >
        Hello {{name}}, click to toggle color
    </button>
  </div> -->
<!-- {{(starValueSubject$ | async)}} -->
  <!-- <ul class="rating inline-ul">
    <li *ngFor="let star of stars; let i = index">
      <i class="fa" *ngIf="starValue >= i + 0.5" 
         [ngClass]="{'fa-star checked': starValue >= i + 0.5 
                                      && starValue < i + 1, 
                      'fa-star': starValue >= i + 1}">
      </i>
    </li>
  </ul> -->