@import '../../../assets/styles-variables.scss';

.inline-ul,
.inline-ul > li {
  display: inline;
  padding-left: 0;
}

.checked {
  color: $primary;
}

.darkGrayBackground {
  color: darkgray;
}

.selected {
  color: $primary;
}