<div class="row banner">

    <div class="col-md-6 banner-img">
    </div>
    <div class="col-md-6">
        <div class="jumbotron banner-text" fxLayout="column" fxLayoutAlign="center center">
            <p class="lead-title">Grow trust. Show trust. Stand out</p>
            <p class="text pt-4">We support you by collecting and leveraging your customer reviews, 
               ratings and Q&A to differentiate your events so you can turn trusted customer content into sales.</p>    
        </div>
    </div>
</div>


<div fxLayout="column" fxLayoutAlign="center center">
    <p class="big_title mt-5">How it works - 3 simple steps</p>
    <div class="equalHMVWrap eqWrap mt-4 mb-4">
        <div class="equalHMV eq" fxLayout="column">
            <span><mat-icon class="big_icon">publish</mat-icon></span>
            <p class="big_title mt-4">Upload events</p> 
            <span class="big_text mt-4">Upload your event information for prespects to easily find your event.</span>
        </div>
        <div class="equalHMV eq" fxLayout="column">
            <span><mat-icon class="big_icon">rate_review</mat-icon></span>
            <p class="big_title mt-4">Invite reviews</p> 
            <span class="big_text mt-4">Invite past attendees to leave a review for others to see.</span>
        </div>
        <div class="equalHMV eq" fxLayout="column">
            <span><mat-icon class="big_icon">people</mat-icon></span>
            <p class="big_title mt-4">Grow your events</p> 
            <span class="mt-4 big_text">Promote the reviews to grow your customer base, boosting sales and creating lifelong fans of your brand.</span>
            <span class="mt-4"><button routerLink="/register" mat-raised-button color="accent">Sign up - It's free</button></span>
        </div>
    </div>    
</div>

