@import '../../../assets/styles-variables.scss';

.banner {
    background-color: black;
    color: white;
    min-height: 400px;

    .banner-img {
        background-image: url('../../../assets/images/ConferenceRoom.jpg');
        background-size: cover;
    }

    .banner-text {
        background-color: black;
        color: white;
    }
}

.lead-title {
    font-size: 50px;
    text-align: center;
    line-height: 55px; 

    @media(max-width: map-get($grid-breakpoints , sm)){
        font-size: 18px;
        line-height: 24px;
    }

    @media(max-width: map-get($grid-breakpoints , md)){
        font-size: 24px;
        line-height: 24px;
    }

    @media(max-width: map-get($grid-breakpoints , lg)){
        font-size: 35px;
        line-height: 40px;
    }
}

.text {
    font-size: 30px;
    text-align: center;
    line-height: 40px; 

    @media(max-width: map-get($grid-breakpoints , sm)){
        font-size: 18px;
        line-height: 24px;
    }

    @media(max-width: map-get($grid-breakpoints , md)){
        font-size: 24px;
        line-height: 24px;
    }

    @media(max-width: map-get($grid-breakpoints , lg)){
        font-size: 28px;
        line-height: 33px;
    }
}


.eqWrap {
	display: flex;
}

.eq {
    // padding: 10px;
    text-align: center;
}

.eq:nth-of-type(odd) {
	// background: yellow;
}

.eq:nth-of-type(even) {
	// background: lightblue;
}

.equalHMWrap {
	justify-content: space-between;
}

.equalHM {
	width: 32%;
}

.equalHMRWrap {
	justify-content: space-between;
	flex-wrap: wrap;
}

.equalHMR {
	width: 32%;
	margin-bottom: 2%;
}

.equalHMVWrap {
	flex-wrap: wrap;
}

.equalHMV {
	width: 32%;
	margin: 1%;	
}

.equalHMV:nth-of-type(3n) {
    margin-right: 0;
}

.equalHMV:nth-of-type(3n+1) {
	margin-left: 0;	
    padding-left: 30px;
}

.big_icon {
    font-size: 60px;
    line-height: 65px;
}

.big_title {
    font-size: 40px;
    line-height: 45px;
    color: black;
}

.big_text {
    font-size: 25px;
    line-height: 35px;
}