<div class="row d-flex flex-column">
    <ul class="list-group" >
        <li class="list-group-item"
            *ngFor="let event of events, let i = index">
            <!-- {{event.name}} -->
            <app-event [event]="event" [index]="i"></app-event>
            <!-- Short event component -->
            <!-- <a style="cursor: pointer;"
                [routerLink]="['/events', ]"
                class="list-group-item">
                <div class="pull-left">
                    <h4 class="list-group-item-heading">{{event.name}}</h4>
                    <p class="list-group-item-text">About</p>
                </div>
                <span class="pull-right">
                    Text or img
                </span>
            </a> -->
            <button (click)="onUpdate(i)">Update event</button>
            <button (click)="onDelete(i)">Delete event</button>
        </li>
    </ul>
    <button (click)="onSubmit()">Add event</button>
    <!-- <app-event></app-event> -->
    <!-- <button class="btn btn-primary" (click)="onFetchEvents()">Fetch events</button> -->
</div>

<!-- *ngFor="let event of (events | async).events, let i = index"> -->
            