<header>
    <mat-toolbar fxLayout="column"
                 fxLayoutAlign.gt-sm="center start"
                 fxLayoutAlign="center center"
                 class="header">
        <div>
            <img src="../../assets/images/akara.png">
        </div>
    </mat-toolbar>
</header>
<ngx-spinner></ngx-spinner>
<section *ngIf="event"
         fxLayout="column"
         fxLayoutAlign="center center"
         class="review-form">
    <div fxLayout="column"
         fxLayoutGap="20px"
         fxLayoutAlign="center center" 
         class="form-header">
         <div class="img-cropper">
            <img class="rounded-img" 
                 [src]="imgUrl" alt="Photos">
        </div>
         <!-- <app-rounded-avatar [imgUrl]="imgUrl" isReviewForm="true"></app-rounded-avatar> -->
         <!-- <img src="../../assets/images/avatar.png" alt="Photos"> -->
         <br/>
         <br/>
        <h1>{{event.name}}</h1>
        <p>Hosted by <strong>{{event.organizer}}</strong></p>
        <div fxFlex 
            fxLayoutGap="20px" 
            fxLayoutAlign="center center"
            class="event-details" >
            <span fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>location_on</mat-icon>
                <span class="detail-caption" *ngIf="!isVirtual">{{event.city}}, {{event.country}}</span>
                <span class="detail-caption" *ngIf="isVirtual">{{event.city}}</span>
            </span>
            <span fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>calendar_today</mat-icon>
                <span class="detail-caption">{{event.date | date: 'MMMM yyyy'}}</span>
            </span>
            <span fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>storage</mat-icon>
                <span class="detail-caption">{{event.features}}</span>
            </span>
        </div>
    </div>
    <div fxLayout="column"
         fxLayoutAlign="center center" 
         class="form-content row">
        <h2 class="overall-rating-text spacer">Rate your recent experience</h2>            
        <div class="review-form-content col-md-5" >
            <form fxFlex fxLayout="column" 
                  fxLayoutAlign="center center" 
                  [formGroup]="reviewForm"                
                  (ngSubmit)="onSubmit()">
                
                <h3>Your overall rating*</h3>
                <app-rating-stars 
                    (overallRatingSelected)="onSelectOverallRating($event)">                
                </app-rating-stars>
                <div class="jumbotron-beta">
                    <p>
                        <mat-checkbox formControlName="useNewFeatures">
                            <span class="text-wrap"> 
                                Akara is trialling a beta feature to accelerate your networking with 
                                like minded people at events via <strong>1:1 introductions</strong> using video meetings. 
                                If you’re interested, please tick this box.
                            </span>
                        </mat-checkbox>
                    </p>
                </div>
                <div class="attendee-details">
                    <h4>Your name</h4>
                    <div class="row">
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>First name *</mat-label>
                            <input matInput placeholder="John"
                                   formControlName="firstName">
                        </mat-form-field>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>Surname</mat-label>
                            <input matInput placeholder="Smith"
                                   formControlName="surname">
                        </mat-form-field>
                    </div>
                    <h4>Your Email</h4>
                    <mat-form-field style="width: 100%;" 
                                    appearance="outline">
                        <mat-label>Email *</mat-label>
                        <input formControlName="email"
                                matInput placeholder="Email"> 
                    </mat-form-field>
                    <h4>Your organization</h4>
                    <mat-form-field style="width: 100%;" 
                                    appearance="outline">
                        <mat-label>Organization *</mat-label>
                        <input formControlName="organization"
                                matInput placeholder="Organization"> 
                    </mat-form-field>
                    <div>
                        <h4>In what capacity did you attend *</h4>
                        <div class="spacer"  
                             fxLayoutAlign="space-evenly space-between">
                            <span *ngFor="let type of delegateTypes">
                                <button class="delegate"  
                                        type="button" mat-raised-button
                                        (click)="onSelectDelegate(type)"
                                        [ngClass]="{active: isActive(type)}">
                                        {{type}}
                                </button>
                            </span>
                        </div>
                    </div>
                    <div fxLayout="row" class="spacer" 
                         fxLayoutGap="40px">                        
                            <span>Would you recommend this event to others? *</span>
                            <mat-radio-group fxLayout="row"
                                             fxLayoutAlign="center center" 
                                             fxLayoutGap="40px"
                                             formControlName="recommendToOthers"
                                             area-label="Select an option">
                               <mat-radio-button [value]="true">
                                    <span class="emoji">
                                        👍
                                        <!-- <ngx-emoji [emoji]="{ id: 'santa', skin: 3 }" size="16"></ngx-emoji> -->
                                    </span>
                               </mat-radio-button>  
                               <mat-radio-button [value]="false">                                   
                                    <span class="emoji">
                                        👎
                                    </span>
                                </mat-radio-button>                                           
                           </mat-radio-group>                       
                    </div>

                    <div class="spacer">
                        <h4>What did you think of this event?</h4>
                        <table bordered="true"
                               class="rating-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <div class="rating-header">
                                            <span>🤩</span>
                                            <span>Outstanding</span> 
                                        </div>
                                        
                                    </th>
                                    <th>
                                        <div class="rating-header">
                                            <span>😄</span>
                                            <span>Excellent</span> 
                                        </div>
                                    </th>
                                    <th>
                                        <div class="rating-header">
                                            <span>😐</span>
                                            <span>Fair</span> 
                                        </div>                                        
                                    </th>
                                    <th>
                                        <div class="rating-header">
                                            <span>☹️</span>
                                            <span>Poor</span> 
                                        </div>
                                        
                                    </th>
                                    <th >
                                        <div class="rating-header">
                                            <span>😠</span>
                                            <span>Terrible</span> 
                                        </div>                                        
                                    </th>
                                    <th >
                                        <div class="rating-header">
                                            <span>🙅‍♂️</span>
                                            <span>N/A</span> 
                                        </div>                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let criteria of ratingCriterias">
                                    <tr>
                                        <td>{{criteria}}</td>
                                        <td *ngFor="let rating of ratings">
                                            <mat-radio-button [value]="rating" 
                                                              *ngIf="rating"                                                              
                                                              (change)="onRatingChanged($event, criteria)"
                                                              [name]="criteria">
                                            </mat-radio-button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody> 
                        </table>
                    </div>
                    
                    
                    <div>
                        <h4>Please add a short headline for your review*</h4>
                        <div class="row">
                            <mat-form-field class="col" appearance="outline">
                                <input matInput formControlName="reviewHeadline">
                            </mat-form-field>                        
                        </div>
                    </div>

                    <div>
                        <h4>What additional experiences can you share with others?</h4>
                        <div class="row">
                            <mat-form-field class="col" appearance="outline">
                                <textarea matInput rows="5"
                                          formControlName="reviewText"></textarea>
                            </mat-form-field>                        
                        </div>
                    </div>
                   <div class="confirmation">
                        <!-- <p>
                            <mat-checkbox formControlName="isNotCompetitor">
                                <span class="text-wrap">
                                    I confirm this review is genuine. I am not in competition nor do I work for the event 
                                    I am reviewing and I have not been offered any incentive or payment to leave a review for this company.*
                                </span>
                            </mat-checkbox>
                        </p> -->
                        
                        <p>
                            <mat-checkbox formControlName="agreedTermsAndConditions">
                                <span class="text-wrap">
                                    <i>
                                        *By submitting this evaluation form, I agree to Akara's   
                                        <a id="privacy-link" target="_blank" href="https://www.akaralive.com/privacy-policy">
                                            Akara's Privacy Policy</a> and <a id="privacy-link" target="_blank" href="https://www.akaralive.com/terms-conditions">
                                                Terms of Use</a>  which complies with applicable Data Protection Laws.
                                    </i>
                                </span>
                            </mat-checkbox>
                        </p>
                   </div>                             
                </div>
                <br>
                <br>
                <button mat-raised-button 
                        [disabled]="!reviewForm.valid"
                        class="submit-btn"
                        color="primary" 
                        type="submit">Submit</button>
            </form>
        </div>
        
        <br>
        <br>
        <br>
        <ngx-spinner></ngx-spinner>
    </div>
</section>
<app-footer class="footer mt-auto"></app-footer>