@import '../../assets/styles-variables.scss';
* {
    // color: black;
}

.header {
    background-color: white;
    img {
        width: 140px;
        height: 40px;
        margin-left: 50px;

        @media(max-width: map-get($grid-breakpoints, sm)){
            margin-left: 0;
        }
    }
}


.form-header {
    padding-top: 25px;
    padding-bottom: 15px;
    min-height: 150px;
    width: 100%;
    color: white;

    background: url('../../assets/images/event_form_header.svg') ;
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center center;  
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: auto auto;

    .event-details {
        
        width: 100%;
        @media(max-width: map-get($grid-breakpoints, sm)){
            padding-left: 15px;
        }

        .detail-caption {
            margin-left: 6px;
        }
    }

    img {
        width: 130px;
        height: 130px;
    }

    h1 {
        font-size: 40px;
        font-weight: 300;
    }
}

.overall-rating-text {
    color: #FF13A6;
    text-align: center;
}

.form-content {
    background-color: #E1F4FF;
    width: 100%;

}

.jumbotron-beta {
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background-color: pink;
    border-radius: 0.3rem;
}

.ng-invalid {
    border-left: 0;
}

.active {
    color: white;
    background-color: #3f51b5;
}

.text-wrap{
    white-space: normal;
}

#privacy-link {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.mat-checkbox-label {
    padding-left: 15px !important;
}

.spacer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.delegate {
    font-weight: 300;
}

.spacer {
    button {
        @media (max-width: map-get($grid-breakpoints, sm)){        
            padding-left: 5px;  
            padding-right: 5px;  
        }
    }
}

 table > tbody > tr > td{
    text-align: center;
    width: 80px;

    @media (max-width: map-get($grid-breakpoints, sm)){        
        width: fit-content;  
        font-size: x-small;
    }
  }
  
  
  table > tbody > tr > td:first-child {
    text-align: left;
    width: fit-content;
  }

  .rating-header {
      display: flex;
      flex-direction: column;
      text-align: center;

      font-weight: 400;
  }

  table { 
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-collapse: separate;
    border-radius: 14px;
    -moz-border-radius: 14px;
    border-spacing: 0px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th:first-child {
    border-left: 1px solid black;
    padding-left: 6px;
}


td {
    padding: 5px 4px 6px 4px; 
    text-align: left;
    vertical-align: top;
}

td {
    border-top: 1px solid black;    
}

thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
    border-radius: 14px 0 0 0;
    -moz-border-radius: 14px 0 0 0;
}

thead:first-child tr:first-child th:first-child {
    border-left: 0;
    background-color: #8AC6C1;
}

thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 14px;
    -moz-border-radius: 0 0 0 14px;
}

thead:first-child {    
    background-color: #8AC6C1;
}

thead:first-child tr:first-child th:last-child {
    border-radius: 0 14px 0 0;
    -moz-border-radius: 0 14px 0 0;
    background-color: #8AC6C1;
}

thead {
    color: white;
}

table th, table td{
    display: table-cell;
    vertical-align: middle;
 }

.submit-btn {
    width: 150px;
}

.img-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
      }
  }