<h1 mat-dialog-title>Dear {{data.review.firstName}}, </h1>
<div mat-dialog-content>
  <p>Thank you for your review.</p>
  <p>Please visit <a id="akaralink" href="https://www.akaralive.com">Akara</a> for more information.</p>
    <!-- <mat-checkbox [checked]="meetingFeature" 
                  (change)="onChange($event.checked)">
      <span class="wrap-text">
        We’re trialing profesional introductions using 1:1 video meetings. 
        If you’re interesting in testing this new feature please click here
      </span>      
    </mat-checkbox> -->
    
</div>
<div mat-dialog-actions>
  <!-- <button mat-raised-button color="primary" cdkFocusInitial [mat-dialog-close]="true" (click)="onClickYes()">Yes</button>
  <button mat-raised-button [mat-dialog-close]="false"  (click)="onClickNo()">No</button> -->
</div>
