<div *ngIf="!isReviewForm" class="img-cropper">
    <img class="rounded-img" 
         [src]="imgUrl" alt="Photos">
</div>

<!-- <div *ngIf="isReviewForm" >
    <img [src]="imgUrl" alt="Photos">
</div> -->