<div class="content">
    <div class="row" fxLayoutAlign="center center">
        <div class="col-12 col-md-6">
            <h1 class="header mb-4">Our Cookies Policy</h1>
            <p>
                Like most similar websites, this site uses cookies. 
                On this page we explain more about cookies and how we use them. 
                By using this website and agreeing to this policy, you consent 
                to our use of cookies in accordance with the terms of this policy. <br/>

                About cookies<br/>

                Cookies are files, often including unique identifiers, that are 
                sent by web servers to web browsers, and which may then be sent back 
                to the server each time the browser requests a page from the server.<br/>

                Cookies can be used by web servers to identify and track users as 
                they navigate different pages on a website, and to identify users returning to a website.<br/>

                Cookies may be either “persistent” cookies or “session” cookies. 
                A persistent cookie consists of a text file sent by a web server to a web browser, 
                which will be stored by the browser and will remain valid until its set expiry date 
                (unless deleted by the user before the expiry date). A session cookie, 
                on the other hand, will expire at the end of the user session, when the web browser is closed.<br/>

                Cookies on this website<br/>

                We use both session cookies and persistent cookies on this website.<br/>

                How we use cookies<br/>

                Cookies do not contain any information that personally identifies you, 
                but personal information that we store about you may be linked, by us, 
                to the information stored in and obtained from cookies. The cookies used 
                on the website include those which are strictly necessary cookies for 
                access and navigation, cookies that track usage (performance cookies), 
                remember your choices (functionality cookies), and cookies that provide 
                you with targeted content or advertising.<br/>

                We may use the information we obtain from your use of our cookies for the following purposes:<br/>

                1. to recognise your computer when you visit the website<br/>

                2. to track you as you navigate the website, and to enable the use of any e-commerce facilities<br/>

                3. to improve the website’s usability<br/>

                4. to analyse the use of the website<br/>

                5. in the administration of the website<br/>

                6. to personalise the website for you, including targeting advertisements 
                which may be of particular interest to you.<br/>

                Third party cookies<br/>

                When you use the website, you may also be sent third party cookies.<br/>

                Our advertisers and service providers may send you cookies. They may use the 
                information they obtain from your use of their cookies:<br/>

                1. to track your browser across multiple websites<br/>

                2. to build a profile of your web surfing<br/>

                3. to target advertisements which may be of particular interest to you.<br/>

                We use Google Analytics, a web analytics service provided by 
                Google, Inc. (“Google”). Google Analytics uses “cookies”, 
                which are text files placed on your computer, to help the website analyze how users use the site. 
                The information generated by the cookie about your use of the website (including your IP address) 
                will be transmitted to and stored by Google on servers in the United States. 
                The IP address will be truncated before transmission. On our behalf Google will 
                use this information for the purpose of evaluating your use of the website, 
                compiling reports on website activity and providing other services relating to 
                website activity and internet activity in connection with the use of the website. 
                Google will not associate your IP address with any other data held by Google. 
                You may refuse the use of cookies by selecting the appropriate settings on your browser; 
                however please note that if you do this you may not be able to use the 
                full functionality of this website. In addition to that you may prevent the 
                collection of the information generated by the cookie about your use of the website 
                (including you IP address) and the processing of this data by Google if 
                you download and install the browser plug-in available at the following 
                link: <a href="http://tools.google.com/dlpage/gaoptout?hl=en" target="_blank"></a> <br/>

                You can find further information on Google Analytics on <a href="http://www.google.com" target="_blank"></a>. 
                Further information on Google’s Privacy Policy 
                can be found under the address <a href="http://www.google.com/intl/en/privacypolicy.html#information" target="_blank"></a> . <br/>

                In addition to the information we provide in this Cookie Policy, 
                you can find out more information about your online choices 
                at <a href="http://www.youronlinechoices.com/uk" target="_blank"></a>. <br/>

                Blocking cookies<br/>

                Most browsers allow you to refuse to accept cookies. For example:<br/>

                in Internet Explorer you can refuse all cookies by clicking “Tools”, “Internet Options”, 
                “Privacy”, and selecting “Block all cookies” using the sliding selector;<br/>
                in Firefox you can block all cookies by clicking “Tools”, “Options”, 
                and un-checking “Accept cookies from sites” in the “Privacy” box.<br/>
                in Google Chrome you can adjust your cookie permissions by clicking 
                “Options”, “Under the hood”, Content Settings in the “Privacy” section. 
                Click on the Cookies tab in the Content Settings.<br/>

                Blocking all cookies will, however, have a negative impact upon 
                the usability of many websites. If you block cookies, you may 
                not be able to use certain features on the website 
                (log on, access content, use search functions).<br/>

                Deleting cookies<br/>

                You can also delete cookies already stored on your computer:<br/>

                1. in Internet Explorer, you must manually delete cookie files;<br/>

                2. in Firefox, you can delete cookies by, first ensuring that 
                cookies are to be deleted when you “clear private data” 
                (this setting can be changed by clicking “Tools”, “Options” 
                and “Settings” in the “Private Data” box) and then clicking 
                “Clear private data” in the “Tools” menu.<br/>

                3. in Google Chrome you can adjust your cookie permissions by 
                clicking “Options”, “Under the hood”, Content Settings in 
                the “Privacy” section. Click on the Cookies tab in the Content Settings.<br/>

                Doing this may have a negative impact on the usability of many websites.<br/>

                Contact us<br/>

                The website is owned and operated by Akara Ltd, a company registered 
                in England under company number 12620528 with a registered 
                office at 58 Beckway Street, SE17 1QS United Kingdom.<br/>

                If you have any questions or comments about this Notice, 
                or if you would like us to update information we have 
                about you or your preferences, please email: <a href="mailto:hello@akaralive.com"></a>
            </p>
        </div>
    </div>
</div>>