<div  fxLayoutAlign="center center" >
  <div class="row d-flex justify-content-center container">
    <div *ngIf="!success" class="banner mb-4 d-flex justify-content-center text-center">
      <p>Akara is a free service to every event goer and event organiser.</p>
      <p><i>Discover. Grow. Network.</i></p>
    </div>
    <div *ngIf="!success" class="mb-4 d-flex justify-content-center">
      <div class="banner-text col-md-8 text-center ">
        <p>
          We know how daunting it can be for event goers deciding which business events to attend, 
          which is why we want to feature honest and authentic customer experiences to help you 
          find your next event, attend it and take part in 1:1 video meetings with other professionals going.
        </p>
        <p>We’re in the BETA phase of this platform so please bear with us. Not all the features 
          have been built yet, but if you’d like to be the first to test new features 
          such as the 1:1 video networking, please sign up!</p>
      </div>
    </div>
    <div class="form-container d-flex justify-content-center">
      <div *ngIf="!success" class="col-md-6">    
        <form *ngIf="!success" #f="ngForm" (ngSubmit)="onSubmit()">
          <!-- <img class="mb-4" src="assets/images/angular_solidBlack.svg" height="125px" width="125px"> -->
          <h1 class="h3 mb-4 font-weight-normal text-center">Join our waitlist</h1>
          <div class="form-group">
            <label for="name">First Name*</label>
            <input class="form-control" type="text" required autofocus placeholder="John"
                    [(ngModel)]="userRegistration.firstname" name="firstName">
          </div>
          <div class="form-group">
            <label for="name">Surname*</label>
            <input class="form-control" type="text" required placeholder="Smith"
                    [(ngModel)]="userRegistration.surname" name="surname">
          </div>
          <div class="form-group">
            <label class="" for="organization">Organization</label>
            <input type="text" placeholder="Cpa" class="form-control"
                   [(ngModel)]="userRegistration.organization" name="organization">
          </div>
          <div class="form-group">
            <label class="" for="jobTitle">Job Title</label>
            <input type="text" class="form-control" 
                    [(ngModel)]="userRegistration.jobTitle" name="jobTitle">
          </div>
          <div class="form-group">
            <label class="label" for="email">Email*</label>
            <input type="email" class="form-control" required email placeholder="Email"
                    [(ngModel)]="userRegistration.email" name="email" #email="ngModel">
            <small [hidden]="email.valid || (email.pristine && !submitted)"
                   class="text-danger">Please enter a valid email address</small>
          </div>
          <!-- <div class="form-group">
            <label class="label" for="password">Password</label>
            <input type="password" class="form-control" required minlength="6" placeholder="Password"
                    [(ngModel)]="userRegistration.password" name="password" #password="ngModel">
            <small [hidden]="password.valid || (password.pristine && !submitted)"
                   class="text-danger">Minimum 6 characters</small>
          </div> -->
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" 
                  placeholder="+44 792813123"
                  [(ngModel)]="userRegistration.phoneNumber">
          </div>
          <div class="form-group" style="display: grid;">
            <label for="type">I am a*</label>
            <span *ngFor="let type of types">
              <input type="radio" required
                     class="" 
                     name="type" 
                     [(ngModel)]="userRegistration.type"
                     value="{{type}}" />
              <span class="ml-2" *ngIf="type === 1">
                Event Organiser
              </span>
              <span class="ml-2" *ngIf="type === 2">
                Event goer (e.g. attendee, speaker, sponsor/ exhibitor, press/media)
              </span>
            </span>
            
          </div>
          <!-- <div class="form-group">
            <label class="label" for="password">Password</label>
            <input class="form-control" type="password" required placeholder="Password"
                    [(ngModel)]="userRegistration.password" name="password" aria-describedby="passwordHelp">
            <small id="passwordHelp" class="form-text text-muted">Min. 6 characters with at least one non alphanumeric character</small>
          </div> -->
          <hr>
  
          <div class="">
            <label>
              <input type="checkbox" ngModel required name="ableToContactForMarketing">
              *By submitting this form, I hereby agree to Akara Ltd contacting me with regards to 
              marketing related emails, newsletters, customer feedback, company updates or by telephone.  
              Unsubscribing is possible at any time by emailing hello@akaralive.com 
              and using the subject line: “Unsubscribe me”. 
              Communication from Akara Ltd is subject to Akara's 
              <a href="https://www.akaralive.com/privacy-policy" class="link"
                  target="_blank">Privacy Policy</a>  
              and complies with applicable Data Protection Laws.
            </label>
          </div>
  
          <div class="d-flex justify-content-center mt-3 mb-3">
            <button type="submit"
                    mat-raised-button 
                    color="primary"
                    [disabled]="!f.form.valid">
                    Join Beta
            </button>
          </div>
                              
          <ngx-spinner></ngx-spinner>
          
          <div *ngIf="error" class="alert alert-danger mb-4" role="alert">
            <strong>Oops!</strong> {{error}}
          </div>
        </form>        
      </div>
      <div *ngIf="success" class="col-md-12">
        <div *ngIf="success" class="alert alert-success" role="alert">
          <!-- <h3 class="alert-heading">Weldone!</h3> -->
          <p>Thank you for registering! One of the team from Akara will be in touch with next steps.</p>                    
        </div>
      </div>
    </div>
    
  </div>
</div>
