.container {
    font-family: 'lato', sans-serif;
    line-height: 1.6;
    font-size: 17px;

    .form-group label {
        text-align: left;
    }

    .banner {
        flex-direction: column;
        font-size: 24px;
    }

    .banner-text {
        font-size: 17px;
        line-height: 1.6;
    }

    .form-control {        

        &:focus {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            border-color:  rgba(0,0,0,0.24);
        }
    }
}