.rating-list {
    li {
        font-size: 4em;
        float: right;
        color: #ddd;
        padding: 10px 5px;
        &:hover {
            cursor: pointer;
            color:  #ffd700;
            ~ {
                li {
                    color:  #ffd700 ;
                }
            }
        }
    }

    li.selected {
        color:  #ffd700
    }

    display: inline-block;
    list-style: none;
}
