<div class="col-xs-12">
    <ul class="list-inline rating-list"
        *ngFor="let star of stars; let i = index">
        <li id="{{'starId'+i}}"
            (click)="countStar(star)"
            [ngClass]="{'selected': (star <= selectedValue)}"
            (mouseover)="addClass(star)"
            (mouseout)="removeClass(star)">
            &#x2605;
        </li>
    </ul>
</div>