<!-- <h1 *ngIf="events.length < 1">No available events</h1>
<ul class="list-group" *ngIf="events.length > 0">
    <li class="list-group-item" 
        *ngFor="let event of events">
        <h3>{{event.name}}</h3>
    </li>
</ul> -->

<section 
         *ngIf="event">
    <div class="form-header">
        <h1>Logo</h1>
        <h2 class="title">{{event.name}}</h2>
        <p>Hosted by <strong>{{profile.name}}</strong></p>
        <p>
            <span><fa-icon [icon]="faCoffee"></fa-icon> {{event.city}}, {{event.country}}</span>         
            <span class="ml-4 mr-4"><fa-icon [icon]="faCoffee"></fa-icon> {{event.date | date: 'MMMM yyyy'}}</span> 
            <span><fa-icon [icon]="faCoffee"></fa-icon> {{event.features}}</span>
        </p>
    </div>
    <div class="form-container">
        <div class="form-content">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div id="overall-rating">                    
                    <!-- <app-rating-stars (overallRatingSelected)="onSelectOverallRating($event)"></app-rating-stars> -->
                </div>
                <div id="user-data"> 
                    <div class="form-group">
                        <label for="attendeeName">Attendee's name:</label>
                        <input class="form-control" 
                                required
                                id="firstName"
                                type="text"
                                placeholder="First Name"
                                ngModel
                                name="firstName">
                        <input class="form-control"
                                required
                                id="lastName"
                                type="text"
                                placeholder="Last Name"
                                ngModel
                                name="lastName">
                    </div>

                    <div class="form-group">
                        <label for="attendeeOrg">Attendee's Organization:</label>
                        <input class="form-control"
                                required
                                id="organization"
                                type="text"
                                ngModel
                                #organization="ngModel"
                                name="organization">
                        <!-- <p *ngIf="!organization.valid && organization.touched">Organization is required</p> -->
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control"
                                required
                                id="email"
                                type="text"
                                ngModel
                                #email="ngModel"
                                name="email">
                    </div>
                    <div class="form-group">
                        <label for="capacity">In what capacity did you attend?</label>
                        <div>
                            <span *ngFor="let delegate of delegateTypes"
                                  (click)="onSelectDelegate(delegate)"                                  
                                  [ngClass]="{active: isActive(delegate)}">
                                <input type="button" 
                                      class="btn btn-secondary mr-4" 
                                      value="{{delegate}}">
                            </span>
                        </div>
                    </div>
                </div>
                <div id="event-rating">
                    <p>Could you share your thought about this event?</p>
                    <div class="radio">
                        <table mdtable bordered="true">
                            <thead>
                                <tr>
                                    <th scope="col" *ngFor="let rating of ratings">{{rating}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr mbdTableCol *ngFor="let criteria of ratingCriterias">
                                    <th scope="row">{{criteria}}</th>
                                    <td *ngFor="let rating of ratings ">
                                        <label>
                                            <input *ngIf="rating" 
                                                type="radio" 
                                                name="{{criteria}}" 
                                                ngModel [value]="rating">
                                        </label>                                        
                                    </td>
                                </tr>
                            </tbody> 
                        </table>
                    </div>

                    <div class="radio">
                        <span>Would you recommend this event to others</span>
                        <span *ngFor="let recommend of recommendEvent">
                            <input class="ml-4" 
                                    type="radio" 
                                    name="recommend" 
                                    ngModel 
                                    [value]="recommend"/> 
                            {{recommend ? 'Yes' : 'No'}}
                        </span>
                    </div>
                </div>

                <div id="user-review">
                    <div class="form-group">
                        <label for="reviewHeadline">Please add a short headline for your review</label>
                        <input type="text"
                               class="form-control"
                               id="reviewHeadline"
                               ngModel
                               name="reviewHeadline">
                    </div>
                    <div class="form-group">
                        <label for="reviewText">What additional experiences can you share with others:</label>
                        <textarea class="form-control"
                                  id="reviewText"
                                  [(ngModel)]="reviewText"
                                  rows="3"
                                  name="reviewText">
                        </textarea>
                        <!-- <p *ngIf="reviewText">Your review: {{reviewText}}</p> -->
                    </div>
                </div>

                <div id="user-confirmations-1">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" 
                                class="isNotCompetitor-tickbox"
                                required
                                id="isNotCompetitor"
                                ngModel
                                #isNotCompetitor="ngModel"
                                name="isNotCompetitor">
                            I confirm this review is genuine and I am not in competition nor do 
                            I work for the event I am reviewing
                        </label>     
                        <p class="error-message"
                            *ngIf="!isNotCompetitor.valid && isNotCompetitor.touched">
                            Select the tick box to continue
                        </p>
                    </div>
                    <div class="checkbox">
                        <label>                        
                            <input required class="useFirstName-tickbox"
                                id="useFirstName"
                                type="checkbox"
                                ngModel 
                                #useFirstName="ngModel"
                                name="useFirstName">
                            I understand that Akara is an open review platform so my review will be 
                                connected to my first name and the first initial of my last name. E.g. John. S. 
                        </label>
                        <p class="error-message"
                            *ngIf="!useFirstName.valid && useFirstName.touched">
                            Select the tick box to continue
                        </p>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                    id="ableToContact"
                                    #ableToContact="ngModel"
                                    ngModel name="ableToContact">
                            By submitting this form. I hereby agree to Akara Ltd contacting me with regards to 
                            marketing related emails, newsletters, customer feedback, company updates or telephone.
                            Unsubscribing is possible at any time by emailing <strong>hello@akaralive.com</strong>
                            and using the subject line: "Unsubscribe me". Communication from Akara Ltd is subject to 
                            <u>Akara's Privacy Policy</u> and complies with applicable Data Protection Laws  
                        </label>
                    </div>
                </div>
                <div id="user-upgrade">
                    <p>I’d like to test new features such as event community groups, Q&A, 
                        virtual networking, finding other relevant events and more.</p>
                    <button type="button" (click)="onSelectUseNewFeature('YES')"
                            class="input-btn" [ngClass]="{activeUseNewFeatures: isActiveUseNewFeatures('YES')}"
                           [routerLink]="">YES</button>|
                    <button type="button" (click)="onSelectUseNewFeature('NO')"
                            class="input-btn" [ngClass]="{activeUseNewFeatures: isActiveUseNewFeatures('NO')}"
                           [routerLink]="">NO</button>
                </div>

                <div id="user-confirmations-2"></div>
                <button type="submit" 
                        class="btn btn-primary submit-btn"
                        [disabled]="!f.valid">
                        Submit
                </button>
            </form>
        </div>
    </div>
</section>