* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}


.container {
    // display: flex;

    .form-header {
        text-align: center;
    }
}

.form-header {
    background-color: darkblue;
}

input.ng-invalid.ng-untouched {
    border: 1px solid #ced4da;
}

.active input {
    color: #a94442;
}

.activeUseNewFeatures {
    color: green !important;
    border: none;
}

.error-message {
    color: #a94442;
}

.isNotCompetitor-tickbox.ng-invalid {
    border-color: #a94442;
}

.useFirstName-tickbox.ng-invalid {
    border-color: #a94442;
}

.input-btn{
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}