<div class="content">
    <div class="row" fxLayoutAlign="center center">
        <div class="col-12 col-md-6">
            <h1 class="header mb-4">Our Privacy Policy</h1>
            <p>October 2020 (Version 1.0)</p>
            <p>
                When you write a review on Akara or otherwise use our “Website”, 
               we collect and process personal data about you. This document 
               helps you understand what personal data we collect about you, 
               how we collect it, what we use it for, and what rights you have 
               regarding your personal data.
            </p>
            
            <p><strong>1. Personal data - what we collect and what we use it for</strong></p>
            <p><strong>1.1 Master data</strong></p>
            <p>
                When you create a profile or write your first review on the Website, 
                we will automatically generate a personal account for you on Akara (“Account”) 
                and collect the following personal data about you (the “Master Data”): <br/>
                Your      name (this will be public), <br/>
                Your      organisation, <br/>
                Your      email address, and <br/>
                Your      telephone. <br/>
                This information is mandatory, which means that it will not be possible to write a review on the Website without it.<br/>

                You can choose to add further personal data to your profile. 
                The additional data you can add is a user name, job title, your profile, photo, 
                LinkedIn profile. This additional information will be part of your public profile 
                and will also be part of the Master Data.<br/>

                Akara is an open review platform and when we display your review we will connect 
                it to your profile so that people can see who wrote the review. 
                Therefore, please be aware that depending on the information you add to 
                your profile and the username you choose, you may or may not be anonymous. <br/>
            </p>
            <p><strong>1.2 Information in reviews and ratings</strong></p>
            <p>
                When you write a review about an event, we collect the information you put in your review. This includes:<br/>

                Which event you review<br/>

                In what capacity you attended the event (delegate, speaker,      sponsor/exhibitor, press etc)<br/>

                The headline and content of your review <br/>

                Your rating of Speakers & content (1-5) <br/>

                Your rating of Networking opportunities (1-5) <br/>

                Your rating of Seniority of attendees (1-5) <br/>

                Your  rating of Quality of business meetings (1-5) <br/>

                Your rating of Value for time/money (1-5) <br/>

                Your rating of Whether you’d recommend this event to others (thumbs up vs  thumbs down) <br/>

                The  date of your review        <br/>
            </p>
            <p><strong>1.3 Cookies</strong></p>
            <p>
                Our Website uses cookies. Cookies identify your computer or device rather 
                than you as an individual user, and are used for different purposes. <br/>

                Read more about which cookies the Website uses and for which purposes below (in 8). <br/>
            </p>
            <p><strong>1.4 Your IP address, browser settings and location</strong></p>
            <p>
                When you visit the Website, we register your computer’s IP address and browser settings. 
                The IP address is the numerical address of the computer used to visit the Website. 
                Browser settings can include the type of browser you use, browser language, and time zone. 
                We collect this information so that we can trace the computer used in cases of 
                misuse or unlawful actions in connection with visits to or use of the Website. 
                We also use the IP address to approximate your location (at city level). <br/>
            </p>
            <p><strong>1.5 Newsletters and digest emails</strong></p>
            <p>
                We collect the information you provide us with when you subscribe to receive our newsletters, 
                digest emails or similar (we collect your name, email address and type of visitor you are). 
                If you no longer wish to receive our newsletters, digest emails or similar, 
                you can unsubscribe by emailing us at <a href="mailto:hello@akaralive.com"></a> hello@akaralive.com  <br/>
            </p>
            <p><strong>1.6 For what purposes do we use your personal data?</strong></p>
            <p>
                We will use the information you provide to us to:<br/>

                Provide our services to you, including displaying your reviews, 
                and providing you with access to your profile and our Website <br/>

                Identify you as a registered user when you log in to the Website and re-visit the Website <br/>

                Verify the legitimacy of your reviews <br/>

                Improve  the Website and our services <br/>

                Invite you to discover new events and leave more reviews <br/>

                Respond to your questions and provide related customer service <br/>

                Pass on a message from the company you reviewed or the company that      
                has invited you to review a Product via the Website <br/>

                Contact you if your review is flagged by other users or companies      
                and, if necessary, ask you to provide documentation to verify your review      or experience <br/>

                Send you our newsletters<br/>

                Inform you when other users find your review helpful or otherwise  provide feedback concerning your review<br/>

                Invite you to join the event community platform, giving you the      
                option to connect with members of the event you will attend or did just      attend.<br/>

                Engage in various internal business purposes, i.e data analysis,      
                audits, fraud monitoring and prevention, developing new products and      
                services, improving or modifying the Website, identifying usage trends,      
                determining the effectiveness of our promotional campaigns and operating      
                and expanding our business activities<br/>

                Comply with legal requirements and legal process, requests from public and      
                governmental authorities, relevant industry standards and our internal policies<br/>

                Protect      our operations or those of any of our affiliates<br/>

                Protect      our rights, privacy, safety or property and/or that of our affiliates, you      or others<br/>

                Allow      us to pursue available remedies or limit any damages that we sustain<br/>

                We will also use the information in other ways for which we provide specific notice at the time of collection.<br/>
            </p>
            <p><strong>1.7 On what legal basis do we process your personal data?</strong></p>
            <p>
                We need to process your personal data in order to:<br/>

                Perform      our contract with you (see Article 6.1.b of the GDPR)<br/>

                Comply with our legal obligations (see Article 6.1.c of the GDPR) 
                and operate an online review platform in compliance with, for example, 
                the Unfair Commercial Practices Directive, ICPEN’s guidelines on online reviews and endorsements, 
                The Consumer Protection from Unfair Trading Regulations 2008, 
                The Competition and Markets Authority’s guidance on online reviews and endorsements, 
                the UK's Consumer Ombudsman’s Guidelines on publication of user reviews, 
                the UK Marketing Practices Act etc.<br/>

                Pursue legitimate business interests of our own related to operating the 
                Website and providing our services to you, or to pursue the legitimate 
                interests of third parties as long as your interests and fundamental 
                rights do not override those interests (see Article 6.1.f of the GDPR).<br/>

                For the establishment, exercise or defence of legal claims, where necessary (see Article 9.2.f of the GDPR)
                Some of these grounds for processing your personal data overlap, 
                so there may be several reasons which justify us processing your personal data.<br/>

                In those limited circumstances where you have expressly given your consent to us to process 
                your personal data (see Article 6.1.a of the GDPR), for example, when subscribing to our newsletters, 
                you are free to revoke your consent at any time. However, 
                please be aware that we may have the right to continue to process your information 
                if it can be justified on one of the other legal bases mentioned above.<br/>

                You have the right to object to how we process your personal data, or ask us to restrict the processing. 
                Please see below, at 12, for more details.<br/>

                If you would like more information about our legal basis for processing your personal data, 
                please contact us at <a href="mailto:hello@akaralive.com">hello@akaralive.com</a><br/>
            </p>

            <p><strong>2. Disclosure of personal data</strong></p>
            <p><strong>2.1 Disclosure of personal data on the Website</strong></p>
            <p>
                We are an open review platform and we share your review on our Website so that others can read about your experience with a specific event. 
                When you write a review, we will disclose your review and your first name and initial of your surname. 
                Remember, this can reveal your identity in full or in part - unless you use a pseudonym.<br/>

                We recommend that you exercise care in deciding which information to make available for disclosing 
                on the Website and be aware that depending on the level of information provided, you may or may not be anonymous.<br/>
            </p>
            <p><strong>2.2 Disclosure to other services, websites and companies</strong></p>
            <p>
                One of Akara’s main goals is to increase the exposure and availability of reviews on the Website. 
                We therefore permit other services to show reviews created on the Website. 
                This increases the potential audience for your reviews.<br/>

                The categories of third party services and companies who can show your review(s) are:<br/>

                Search      engines, including Google and Bing<br/>

                Events      reviewed on Akara<br/>

                Event      organisers that have invited you to review an event you attended<br/>

                Once you submit your review, it is published on the Website. This means that the following information is disclosed:<br/>

                Your      review(s), (see 1.2, above)<br/>

                Your first      name and initial of your surname. E.g. Mary. S. <br/>

                If we need to verify your review, we will contact you and ask for documentation 
                that shows that you have had a buying or service experience with the event you reviewed. 
                We therefore recommend that you keep such documentation for 12 months from the date of your review.  <br/>

                We do not share the documentation you send to us with the reviewed company. 
                However, if you have a reference number, order number or confirmation email from the event organiser, 
                we may pass that on to the company, unless you ask us not to.<br/>
            </p>
            <p><strong>2.3 Other disclosures</strong></p>
            <p>
                In addition to the above, we disclose your personal data to the following parties and in the following circumstances:<br/>

                To      allow third party vendors, consultants and other service providers to      perform services on our behalf<br/>

                To      comply with laws or to respond to claims, legal process (including but not      
                limited to subpoenas and court orders) and requests from public and      government authorities<br/>

                To      cooperate with regulatory bodies and government authorities, including but      
                not limited to Trading Standards, the Competition and Markets Authority,      
                relevant data protection authorities and the UK Consumer Ombudsman, in      
                connection with investigations or case referrals<br/>

                To      third parties in order for us to protect our operations<br/>

                To      third parties in order for us to pursue available remedies, or limit      damages that we may sustain<br/>

                To      third parties in order for us to investigate, prevent or take action      
                regarding suspected or actual prohibited activities, including but not      limited to fraud and misuse of our Website<br/>

                To a      third party in the event of any reorganization, merger, acquisition, sale,      
                joint venture, assignment, transfer or other disposition of all or any      
                portion of our business or assets (including in connection with any      bankruptcy or similar proceedings).<br/>
            </p>
            <p><strong>3. Data controller</strong></p>
            <p><strong>3.1 Information for which we are the data controller</strong></p>
            <p>
                We are the data controller of the Master Data you enter to create and maintain your profile, 
                which includes but is not limited to your name, password, email address and location, 
                as well as the registration of your IP address.<br/>

                We are also the data controller of the information which is disclosed to other services (see 2.3). 
                UK’s data protection laws govern our collection of your data.<br/>
            </p>
            <p><strong>3.2 Information for which you are the data controller</strong></p>
            <p>
                You are the data controller for the content you choose to disclose on the Website, 
                and for the personal data disclosed on your profile on the Website.<br/>
            </p>
            <p><strong>4. Links to websites</strong></p>
            <p>
                Our Website contains links to other websites. Our inclusion of such links does not imply 
                that we endorse those websites. We do not control the content of those third party websites, 
                and assume no responsibility for the third party or their policies or practices.<br/>

                We encourage you to review the privacy policies for these third party websites because 
                their procedures for collecting, handling and processing personal data will be different from ours.<br/>
            </p>
            <p><strong>5. Data processors and transfer of personal data outside the EU</strong></p>
            <p>
                We use external companies to maintain the technical operation of the Website and our services. 
                These companies are data processors for the personal data for which we are the data controller. 
                By accepting this Policy, you agree that we may also allow the data for which you are the data controller 
                to be processed by these data processors.<br/>

                We have data processing agreements in place with the data processors and it follows 
                from these agreements that they must act solely in accordance with our instructions. 
                By accepting this Policy, you authorize us to instruct the data processors to process 
                data in accordance with the Policy and for the purposes of using the Website.<br/>

                The data processors have taken reasonable technical and organizational measures 
                to protect against the information being accidentally or illegally destroyed, 
                becoming lost or deteriorating, and to protect against the information being 
                disclosed to unauthorized persons, being misused, or in other ways being processed 
                in violation of data protection laws.<br/>

                On your request – and possibly in return for remuneration at the data processors' 
                applicable hourly rates at any time for such work – the data processors must supply 
                you with sufficient information to demonstrate that the above-mentioned technical 
                and organizational safety measures have been taken.<br/>

                Some of these data processors and third party services are located outside of the European Union, 
                such as in the US. You consent to us using data processors in unsecure third countries provided 
                that there is a legal framework governing the transfer of your personal data and ensuring adequate 
                protection of it, for example if the data processor is part of the EU-US Privacy Shield framework.<br/>
            </p>
            <p><strong>6. Data retention</strong></p>
            <p>
                We keep the Master Data and other personal data you provide, including your reviews, 
                for as long as you have an Account or as needed to provide you with our services. 
                If you choose to delete your Account please note that all your reviews will also be deleted. 
                We will delete this information upon your request and we will only save a log with the 
                following information: your name, email address and the date of the deletion of your Account. 
                We will keep the log for 3 years. All other information will be deleted.<br/>

                If you only use our Website for searching for reviewed events, we will retain your information 
                and keep your Account open until you decide to close your Account. In some cases, even if you 
                close your account, we then choose to retain certain information (e.g. visits to our Website) 
                in an anonymized or aggregated form.<br/>
            </p>
            <p><strong>7. Security measures</strong></p>
            <p>
                We use reasonable organizational, technical and administrative measures to protect 
                your personal data within our organization and we regularly audit our system for vulnerabilities. 
                However, since the internet is not a 100% secure environment, we cannot ensure or warrant 
                the security of the information you transmit to us. Emails sent via the Website may not be encrypted, 
                and we therefore advise you not to include any confidential information in your emails to us.<br/>
            </p>
            <p><strong>8. Cookies</strong></p>
            <p>
                The Website uses cookies and similar technologies (“Cookies”). By using our Website, 
                you accept that we use Cookies as described below.<br/>
            </p>
            <p><strong>8.1 What types of Cookies do we use?</strong></p>
            <p>
                Cookies are small pieces of information that the Website places on your computer's hard disk, 
                on your tablet or on your smartphone. Note that HTML5 introduced Web Storage that has a 
                similar nature to Cookies, and that we therefore consider that as a Cookie in the following.<br/>

                Cookies contain information that the Website uses to make the communication between you 
                and your web browser more efficient. Cookies identify your computer or device rather than you as an individual user.<br/>

                We use session cookies, persistent cookies, HTML5 sessionStorage and HTML5 
                localStorage session cookies and HTML5 sessionStorage objects are temporary 
                in nature and are deleted when you exit your web browser. Persistent cookies are 
                permanent in nature and are stored and remain on your computer until they are deleted. 
                Persistent cookies expire or auto delete after a certain period of time, which is set 
                per cookie, but are renewed each time you visit the Website. HTML5 localStorage objects 
                are permanent in nature and remain on your computer until they are deleted.<br/>
            </p>
            <p><strong>8.2 What do we use Cookies for?</strong></p>
            <p>
                We use Cookies for:<br/>

                Generating statistics<br/>

                Measuring Website traffic such as the number of visits to the Website, 
                which domains the visitors come from, which pages they visit on the Website 
                and in which overall geographical areas the visitors are located.<br/>

                Monitoring Website performance and your use of our Website<br/>

                Monitoring the performance of the Website, our applications and how you use our Website and applications.<br/>

                Authentication and improving the functionality of our Website<br/>

                Optimizing your experience with the Website, which includes remembering your username 
                and password when you return to the Website and remembering information about your browser and preferences.<br/>

                Quality assurance<br/>

                Ensuring the quality of reviews and to prevent misuse or irregularities in 
                connection with writing reviews and using the Website.<br/>
            </p>
            <p><strong>8.3 Deletion of cookies</strong></p>
            <p>
                You can delete the cookies already on your device. You can typically delete cookies 
                from the Privacy or History area, available from the Settings or Options menu in the browser. 
                In most browsers, the same menu can be reached through the Ctrl+Shift+Del keyboard shortcut or 
                Command+Shift+Del if you're on a Mac.<br/>

                If you do not accept Cookies from our Website, you may experience inconvenience 
                in your use of the Website, and you may be prevented from accessing some of its features.<br/>
            </p>
            <p><strong>9. Access and insights into the personal data we have about you</strong></p>
            <p>
                If you have an Account on Akara, you can log in to your Account and see what information 
                we have about you, including your reviews, and why we have that information. 

                If you don’t have an Account, you can email <a href="mailto:hello@akaralive.com"></a> 
                and request information 
                about your personal data. Upon receiving your request, we will let you know what personal 
                data we have about you, how we collect the information, the purpose for which we process your 
                personal data, and who we share your personal data with.<br/>
            </p>
            <p><strong>10. Download your personal data (data portability)</strong></p>
            <p>
                If you have a user profile on Akara, you can download the personal data that you have provided to us, 
                including your reviews. <br/>
            </p>
            <p><strong>11. Correction and deletion of your personal data</strong></p>
            <p>
                If any of the Master Data or other personal data that we have about you in our 
                capacity as a data controller is incorrect or misleading, you can correct most of the 
                information yourself by emailing <a href="mailto:hello@akaralive.com"></a> <br/>

                If your Account is deleted, all the data associated with your Account will be deleted, 
                including your Master Data and reviews on the Website.<br/>

                We reserve the right to block access to your Account and/or delete it if the Account 
                or the content associated with your Account or your review(s) on the Website is, 
                in our assessment, discriminating, racist, sexually oriented, unethical, threatening, 
                offensive, harassing or otherwise violates applicable laws, third party rights, 
                or is inconsistent with the purpose of the Website. If we block access to or delete your Account, 
                we will inform you of the reason for blocking or deleting your Account by sending an email 
                to the address you provided when you created your Account.<br/>
            </p>
            <p><strong>12. Other rights</strong></p>
            <p>
                In addition to the rights set out above concerning your personal data, you also have the following rights:<br/>

                You      also have the right to object to the processing of your personal data and      
                have the processing of your personal data restricted.<br/>

                In      particular, you have an unconditional right to object to the processing of      
                your personal data for direct marketing purposes.<br/>

                If      our processing of your personal data is based on your consent, you have      
                the right to withdraw your consent at any time. Your withdrawal will not      
                affect the lawfulness of the processing of data carried out before you      
                withdrew your consent. You may withdraw your consent by emailing us at <a href="mailto:hello@akaralive.com"></a><br/>

                In some circumstances, these rights may be limited or conditional. For example, whether 
                or not you have the right to data portability in a particular case depends on the specific 
                circumstances of the processing activity.<br/>
            </p>
            <p><strong>13. Children’s information</strong></p>
            <p>
                Our Website is not intended for children. If you become aware that a child 
                under the age of 18 has provided us with their personal data, please contact us.<br/>
            </p>
            <p><strong>14. Changes to this Policy</strong></p>
            <p>
                We reserve the right to make changes to this Policy. The date shown at the start of 
                this Policy indicates when it was last revised. If we make material changes to it, 
                we will provide notice through our Website, or by other means, to give you the opportunity 
                to review the changes before they come into effect. If you object to our changes, you can close your account. 
                Your continued use of our Website after we publish or send a notice about the changes 
                to the Policy will mean that you accept and agree to the updated Policy.<br/>
            </p>
            <p><strong>15. Contact information and where to send questions or complaints</strong></p>
            <p>
                If you have questions or concerns about our Policy, how we process your personal data, 
                or would like us to correct your personal data, feel free to contact us at: <a href="mailto:hello@akaralive.com"></a><br/>

                If contacting us does not resolve your complaint, you have further options, 
                for example you may always lodge a complaint with a data protection supervisory authority, 
                e.g. The UK Data Protection Agency.<br/>

                Our contact details are: Akara Ltd, Registered at: 58 Eugene Cotter House, 
                Beckway Street, SE17 1QS, London, UK, Company House No. 12620528.<br/>
            </p>
        </div>
        
    </div>
    
</div>