.container {
    font-family: 'lato', sans-serif;
    color: black;

    .text-center {
        h1 {
            font-size: 20px;
        }
    }

    .form-control {        
        &:focus {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            border-color:  rgba(0,0,0,0.24);
        }
    }
}