<div fxLayoutAlign="center center">
    <div class="row d-flex justify-content-center container">
        <div class="col-md-6 text-center">
            <h1>Personal Profile</h1>
            <div class="form-container">
                <form #f="ngForm" (ngSubmit)="onSubmit()">
                    <!-- <img class="mt-3" src="assets/images/angular_solidBlack.svg" height="125px" width="125px"> -->
                    <div class="form-group d-flex flex-row text-left justify-content-between">
                        <div>
                            <label for="firstName">First Name:</label>
                            <input type="text" name="firstName" class="form-control"
                               [(ngModel)]="profile.firstName" />
                        </div>
                        <div>
                            <label for="firstName">Surname:</label>
                            <input type="text" name="surname" class="form-control"
                               [(ngModel)]="profile.surname" />
                        </div>               
                    </div>
                    <div class="form-group text-left">
                        <label for="jobTitle">Job Title</label>
                        <input type="text" name="jobTitle" class="form-control"
                               [(ngModel)]="profile.jobTitle" />
                    </div>
                    <div class="form-group text-left">
                        <label for="organization">Organization</label>
                        <input type="text" name="organization" class="form-control"
                               [(ngModel)]="profile.organization" />
                    </div>
                    <div class="form-group text-left">
                        <label for="email">Email</label>
                        <input type="text" name="email" class="form-control"
                               [(ngModel)]="profile.email" />
                    </div>
                    <div class="form-group text-left">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="text" name="phoneNumber" class="form-control"
                               [(ngModel)]="profile.phoneNumber" />
                    </div>
                    <div class="form-group text-left">
                        <label for="website">Website</label>
                        <input type="text" name="website" class="form-control"
                               [(ngModel)]="profile.website" />
                    </div>
                    <div class="form-group text-left">
                        <label for="about">About</label>
                        <textarea [(ngModel)]="profile.about" name="about"
                                  class="form-control"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" 
                                mat-raised-button color="primary"
                                [disabled]="!(f.dirty)" 
                                class="mt-3 mb-4">Save</button>
                    </div>
                    <ngx-spinner></ngx-spinner>
                </form>            
            </div>
        </div>
    </div>
</div>
