<button mat-raised-button 
        color="primary"
        [matMenuTriggerFor]="menu">    
    <span>{{userName}}</span>
    <mat-icon>arrow_drop_down</mat-icon>
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Update profile</span>
    </button>
    <!-- <button mat-menu-item routerLink="/events">
        <mat-icon>voicemail</mat-icon>
        <span>Your Events</span>
    </button> -->
    <button mat-menu-item (click)="onLogOut()">
        <mat-icon>login</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>