@import '../../../../assets/styles-variables.scss';

.rating-left {
    padding-left: 30px;

    @media(max-width: map-get($grid-breakpoints, sm)) {
        padding-left: 0px;
    }
    @media(max-width: map-get($grid-breakpoints, md)) {
        padding-left: 0px;
    }
}

.rating-right {
    padding-left: 15px;

    @media(max-width: map-get($grid-breakpoints, sm)) {
        padding-left: 0px;
    }
    @media(max-width: map-get($grid-breakpoints, md)) {
        padding-left: 0px;
    }
}