<div class="row">
    <div class="col-md-6 rating-right">
        <div fxLayout="column" fxLayoutAlign="center flex-end">
            <div class="col-md-8">
                <h1>Overall Rating</h1>
            </div>
            <div class="col-md-8 checkbox-no-margin-bot">
                <mat-checkbox value="overallRating5" 
                              (change)="showOptions($event)">
                              <span>Outstanding ({{outStandingVotes}})</span>                              
                </mat-checkbox>
            </div>
            <div class="col-md-8 checkbox-no-margin-bot">
                <mat-checkbox value="overallRating4" (change)="showOptions($event)">
                    <span>Excellent ({{excellentVotes}})</span>
                </mat-checkbox>
            </div>
            <div class="col-md-8 checkbox-no-margin-bot">
                <mat-checkbox value="overallRating3" (change)="showOptions($event)">
                    <span>Fair ({{fairVotes}})</span>
                </mat-checkbox>
            </div>
            <div class="col-md-8 checkbox-no-margin-bot">
                <mat-checkbox value="overallRating2" (change)="showOptions($event)">
                    <span>Poor ({{poorVotes}})</span>
                </mat-checkbox>
            </div>
            <div class="col-md-8 mb-2" >
                <mat-checkbox value="overallRating1" (change)="showOptions($event)">
                    <span>Terrible ({{terribleVotes}})</span>
                </mat-checkbox>
            </div>
        </div>
    </div>
    <div class="col-md-6 border-left rating-left">
        <div fxLayout="column" fxFlexAlign="center flex-start">
            <div class="col-md-8">
                <h1>Attendee Type</h1>
            </div>            
            <div class="col-md-8 checkbox-no-margin-bot" >
                <mat-checkbox value="delegate4" (change)="showOptions($event)">
                    Delegate ({{delegateVotes}})
                </mat-checkbox>
            </div>
            <div class="col-md-8 checkbox-no-margin-bot"  >
                <mat-checkbox value="delegate3" (change)="showOptions($event)">
                    Speaker ({{speakerVotes}})
                </mat-checkbox>
            </div>
            <div class="col-md-12 checkbox-no-margin-bot"  >
                <mat-checkbox value="delegate2" (change)="showOptions($event)">
                    Sponsor/ Exhibitor ({{sponsorVotes}})
                </mat-checkbox>
            </div>
            <div class="col-md-12 mb-2 checkbox-no-margin-bot">
                <mat-checkbox value="delegate1" (change)="showOptions($event)">
                    Press/ Media ({{pressVotes}})
                </mat-checkbox>
            </div>
        </div>
    </div>
</div>