@import '../../../../assets/styles-variables.scss';

* {
    padding: 0;
    margin: 0;
    line-height: 1.8;

    @media(max-width: map-get($grid-breakpoints, sm)) {
        font-size: 14px;
    }

    @media(max-width: map-get($grid-breakpoints, md)) {
        font-size: 14px;
    }
}

.rating-type {
    font-size: 13px;    

    @media(max-width: map-get($grid-breakpoints, sm)) {
        font-size: 10px;
        white-space: nowrap;
        padding-right: 10px;
    }
}

.rating-votes {
    @media(max-width: map-get($grid-breakpoints, sm)) {
        text-align: end;
    }
}