<div *ngIf="isReview"
     fxLayout="row"      
     fxLayoutAlign="space-between center">
    <span class="col-sm-7 col-md-7 rating-type">{{data.text}}</span> 

    <mat-progress-bar fxHide.lt-sm
                class="col-sm-3 col-md-3 ml-3 mr-3" 
                mode="determinate" 
                [color]="color"
                [value]="(data.numberOfVotes/data.totalVotes)*100"></mat-progress-bar>
                
    <span class="col-sm-2 col-md-2 rating-votes">
        {{data.numberOfVotes}}/{{data.totalVotes}}
    </span>
</div>

<div *ngIf="!isReview" 
     fxLayout="row"
     fxLayoutAlign="space-between center">
    <span class="col-sm-6 col-md-7">{{data.text}}</span> 
    <mat-progress-bar 
                class="col-sm-4 col-md-2 ml-3 mr-3" 
                mode="determinate" 
                [color]="color"
                [value]="(data.numberOfVotes/data.totalVotes)*100"></mat-progress-bar>
    <span class="col-sm-2 col-md-2">{{data.numberOfVotes}}/{{data.totalVotes}}</span>
</div>


