@import '../../../assets/styles-variables.scss';



.detail-container {
    background-color: white;
    color: black;
    overflow: hidden;
}

#about-content {
    padding-left: 30px;
    padding-right: 30px;

    p {
        white-space: normal;
    }
}

.no-padding-x {
    padding-left: 0;
    padding-right: 0;

    @media(max-width: map-get($grid-breakpoints, sm)) {
        padding-left: 15px;
        border-left: 0;
    }
    @media(max-width: map-get($grid-breakpoints, md)) {
        padding-left: 15px;
        border-left: 0;
    }
}

.event-detail-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px !important;

    @media(max-width: map-get($grid-breakpoints, sm)) {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 30px !important;
    }
    @media(max-width: map-get($grid-breakpoints, md)) {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 30px !important;
    }
}

.text-content {
    p {
        font-size: 18px;
        line-height: 1.5;
    }

    @media(max-width: map-get($grid-breakpoints, sm)) {
        p {
            font-size: 13px;
            line-height: 1.3;
        }
    }
    @media(max-width: map-get($grid-breakpoints, md)) {
        p {
            font-size: 15px;
            line-height: 1.4;
        }
    }
    
}

#overallRating {
    font-size: 50px;
    font-weight: 400;
    color: $primary;
    white-space: normal;
    // margin-right: 40px;

    @media(max-width: map-get($grid-breakpoints, sm)) {
        margin-right: 0;
    }
    @media(max-width: map-get($grid-breakpoints, md)) {
        margin-right: 0;
    }
}

.border-left {
    border-left: solid;
    color: black;

    @media(max-width: map-get($grid-breakpoints, sm)) {
        padding-left: 0;
        border-left: 0;
    }
    @media(max-width: map-get($grid-breakpoints, md)) {
        padding-left: 0;
        border-left: 0;
    }
}

.center {
    display: flex;
    justify-content: center;

    @media(max-width: map-get($grid-breakpoints, sm)) {
        justify-content: center;
    }
    @media(max-width: map-get($grid-breakpoints, md)) {
        justify-content: center;
    }
}




