<div class="detail-container mb-auto" *ngIf="event">
    <app-event-banner [ngClass]="routeAnimationsElements" [event]="event"></app-event-banner>

    <div class="col-md-12 mt-4">
        <div fxLayout fxLayoutAlign="center center">
            <div class="col-md-10 mat-elevation-z8">
                <div fxLayoutAlign="center center">
                    <div class="col-md-10">
                        <div fxLayout="column" [ngClass]="routeAnimationsElements"
                             fxLayoutAlign="center center">
                            <h1 class="mt-4 event-detail-title">Industry</h1>
                            <mat-chip-list class="mat-chip-list-center" aria-label="Industry selection">
                                <mat-chip color="primary" selected *ngFor="let industry of industries">
                                    {{industry}}
                                </mat-chip>
                            </mat-chip-list>
                      
                            <h1 class="mt-4 event-detail-title">Topics</h1>
                            <mat-chip-list class="mat-chip-list-center" aria-label="Topics selection">
                                <mat-chip color="accent" selected *ngFor="let topic of topics">
                                    {{topic}}
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>                  
                </div>
            
                <div class="mt-4" 
                    fxLayout="column" 
                    [ngClass]="routeAnimationsElements">
                    <h1 class="event-detail-title">About this event</h1>
                    <div fxLayoutAlign="center center">
                        <div id="about-content" 
                             [innerHTML]="aboutText"
                             class="col-md-8 jumbotron text-content">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>

    <div [ngClass]="routeAnimationsElements"
         class="col-md-12 mb-4 mt-4">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="col-md-8 mat-elevation-z8">
                <div class="mt-4" fxLayout="column" [ngClass]="routeAnimationsElements">
                    <h1 class="event-detail-title">Reviews</h1>
                    <div fxLayoutAlign="center center">            
                        <div class="col-md-8">
                            <h2>Overall Rating</h2>
                            <div fxLayout="row">
                                <div class="col-md-4" id="overallRating"
                                     fxLayoutAlign="center center">
                                    <p>{{overallRating}}/5</p>
                                </div>                    
                                <div class="col-md-8">
                                    <h1 style="margin-bottom: 0;">{{overallRatingText}}!</h1>
                                    <p>From {{totalReviews}} reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>
            
                <div class="row mb-4">
                    <div class="col-md-6" style="padding-left: 0;">
                        <div fxLayout="column" fxLayoutAlign="center flex-end">
                            <div class="col-md-8 no-padding-x">
                                <app-review-vote [isReview]="isReview" [data]="speakersContent"></app-review-vote>
                            </div>
                            <div class="col-md-8 no-padding-x">
                                <app-review-vote [isReview]="isReview" [data]="networkingOpportunities"></app-review-vote>
                            </div>
                            <div class="col-md-8 no-padding-x">
                                <app-review-vote [isReview]="isReview" [data]="seniorityAttendees"></app-review-vote>
                            </div>
                        </div>           
                    </div>
                    <div class="col-md-6 border-left" >
                        <div fxLayout="column" fxLayoutAlign="center flex-start">
                            <div class="col-md-10">
                                <app-review-vote [isReview]="isReview" [data]="businessMeeting"></app-review-vote>
                            </div>
                            <div class="col-md-10">
                                <app-review-vote [isReview]="isReview" [data]="valueMoneyTime"></app-review-vote>
                            </div>
                            <div class="col-md-10">
                                <app-review-vote [isReview]="isReview" [data]="recommendToOthers"></app-review-vote>
                            </div>
                        </div>            
                    </div>
                </div>

                <hr>
                <app-rating-types [data$]="numberOfReviews$.asObservable()" (selectedFilters)="onSelectFilters($event)"></app-rating-types>                
            </div>            
        </div>        
    </div>

    <app-reviews [filters$]="filters$.asObservable()" 
                 [eventId]="event.id"></app-reviews> 
</div>