<div class="col-md-12" [ngClass]="routeAnimationsElements">
    <div fxLayout="column" fxLayoutAlign="center center" class="">     
        <!-- <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>    -->
        <div class="reviews-container mat-elevation-z8">            
            <div class="reviews-table-container">
              <!-- <mat-spinner *ngIf="isLoadingResults"></mat-spinner> -->
              <table mat-table [dataSource]="dataSource" matSort>          
                <!-- Position Column -->
                <ng-container matColumnDef="review">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Review Card </th>
                  <td mat-cell *matCellDef="let element" 
                      class='m-card-title' test data-label='review'>
                    <app-review-card [reviewData]="element.review"></app-review-card>
                  </td>
                </ng-container>
          
                <!-- Symbol Column -->
                <!-- <ng-container matColumnDef="star">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td class="" mat-cell *matCellDef="let element"> 
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </td>
                </ng-container> -->
          
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator [length]="data.length" 
                           [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
          </div>
    </div>
    

    
</div>    
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>open_in_new</mat-icon>
      <span>Open risk plan</span>
    </button>
    <button mat-menu-item>
      <mat-icon>undo</mat-icon>
      <span>Reset questionnairre</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>delete</mat-icon>
      <span>Delete questionnairre</span>
    </button>
  </mat-menu>