@import '../../../assets/styles-variables.scss';

.header-iamge {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.event-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); //box-shadow;
    margin-bottom: 2rem;

    &:hover {
        cursor: pointer;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    @media(max-width: map-get($grid-breakpoints , sm)){
        margin-top: 20px;
    }
}

.caption {
    padding-left: 6px;
}

.center {
    text-align: center;
}

.title {
    font-size: 20px;

    @media(max-width: map-get($grid-breakpoints , sm)){
        font-size: 17px;
    }

    @media(max-width: map-get($grid-breakpoints , md)){
        font-size: 17px;
    }
}

.text-size {
    font-size: 17px;

    @media(max-width: map-get($grid-breakpoints , sm)){
        font-size: 12px;
    }

    @media(max-width: map-get($grid-breakpoints , md)){
        font-size: 12px;
    }
}