<mat-card [ngClass]="routeAnimationsElements"
            class="mat-card event-card"
            [routerLink]="path">
    <div fxLayoutAlign="center center">
        <app-rounded-avatar [imgUrl]="imgUrl"></app-rounded-avatar>
    </div>
    
    <mat-card-content fxLayout="column">        
        <h2 class="center mt-3 title">{{event.name}}</h2>
        <div fxLayout="row" fxLayoutAlign="center center">
            <app-stars-rating [starValue]="starValue" 
                              fxLayoutAlign="center center" 
                              class="center"></app-stars-rating>
        </div>
        <div fxLayoutAlign="center center">
            <h3>Hosted by <strong>{{event.organizer}}</strong></h3>
        </div>
        <p fxLayoutAlign="space-between" class="text-size">
            <span fxLayoutAlign="center center">
                <mat-icon>location_on</mat-icon>                
                <span class="caption" *ngIf="!isVirtual">{{event.city}}, {{event.country}}</span>
                <span class="caption" *ngIf="isVirtual">{{event.city}}</span>
            </span>
            <span fxLayoutAlign="center center">
                <mat-icon>calendar_today</mat-icon>
                <span class="caption">{{event.featuredDate | date: 'MMMM yyyy'}}</span>
            </span>
        </p>
    </mat-card-content>
</mat-card>