
<!-- <p>{{event.name}}</p> -->
<a class="list-group-item clear-fix"
    routerLinkActive="active"
    [routerLink]="[event.id]" style="cursor: pointer;">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{event.name}}</h4>
        <p class="list-group-item-text">About</p>
    </div>
    <span class="pull-right">
        Text or img
    </span>
</a>