@import '../../../assets/styles-variables.scss';
* {
    // margin: 0;
    // padding: 0;
}

.container-content {
    overflow: hidden;
    color: black;
    .banner {
        display: flex;
        justify-content: center;
        min-height: 400px;
        padding: 0;
        background-color: black;

        .banner-img {
            background-image: url('../../../assets/images/ConferenceRoom.jpg');
            background-size: cover;
        }        

        #banner-content{
            height: 100%;
            width: 100%;
            color: white;

            p {
                text-align: center;
            }
    
            #discover-text {
                font-size: 20px;
                @media(max-width: map-get($grid-breakpoints , sm)){
                    font-size: 16px;
                }
            }
        }
    }
}

.events {
    padding-left: 40px;
    padding-right: 40px;
}

.lead-title {
    font-size: 50px;
    text-align: center;
    line-height: 55px;
    padding-left: 10px;
    padding-right: 10px;

    @media(max-width: map-get($grid-breakpoints , sm)){
        font-size: 18px;
        line-height: 24px;
    }

    @media(max-width: map-get($grid-breakpoints , md)){
        font-size: 24px;
        line-height: 24px;
    }

    @media(max-width: map-get($grid-breakpoints , lg)){
        font-size: 35px;
        line-height: 40px;
    }

}

.topics {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;

    .topic-btn{
        width: min-content;
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        // cursor: none;

        &:focus {
            color:#e0e0e0;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }

    @media(max-width: map-get($grid-breakpoints , sm)){
        padding-left: 20px;
        padding-right: 20px;
    }

    @media(max-width: map-get($grid-breakpoints , md)){
        padding-left: 20px;
        padding-right: 20px;
    }
}

#feature-text {
    font-size: 50px;
    font-weight: 500;

    margin-top: 30px;
    margin-bottom: 30px;

    @media(max-width: map-get($grid-breakpoints , sm)){        
            font-size: 18px;
            line-height: 20px;
        
    }

    @media(max-width: map-get($grid-breakpoints , md)){        
            font-size: 35px;
            line-height: 40px;
        
    }

    @media(max-width: map-get($grid-breakpoints , lg)){
       
            font-size: 40px;
            line-height: 40px;
        
    }
}

.spacer {
    margin-top: 20px;
    margin-bottom: 20px;
}

#customer-text {
    background-color: black;
    color: white;
    height: 200px;
    
    text-align: center;
    align-items: center;

    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    @media(max-width: map-get($grid-breakpoints , sm)){
        h1 {
            font-size: 18px;
            line-height: 20px;
        }
    }

    @media(max-width: map-get($grid-breakpoints , md)){
        h1 {
            font-size: 20px;
            line-height: 30px;
        }
    }

    @media(max-width: map-get($grid-breakpoints , lg)){
        h1 {
            font-size: 27px;
            line-height: 35px;
        }
    }
    
}

#signup{
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#signupLogo {
    background-image: url('../../../assets/images/CartoonVirtualMeeting.jpg');
    background-size: cover;
}

.textSize {
    font-size: 17px;
    line-height: 25px;
}

.title {
    font-size: 45px;
    line-height: 50px;

    @media(max-width: map-get($grid-breakpoints , sm)){
        font-size: 27px;
        line-height: 35px;
    }

    @media(max-width: map-get($grid-breakpoints , md)){
        font-size: 27px;
        line-height: 35px;
    }
}

.signup-content {
    #hearFromYou {
        font-size: 50px;
        font-weight: 500;
        line-height: 45px;
    }

    @media(max-width: map-get($grid-breakpoints , sm)){
        padding-left: 20px;
        padding-right: 20px;

        #hearFromYou {
            font-size: 35px;
            font-weight: 500;
            line-height: 1.5;
        }
    }

    @media(max-width: map-get($grid-breakpoints , md)){
        padding-left: 30px;
        padding-right: 30px;

        #hearFromYou {
            font-size: 35px;
            font-weight: 500;
            line-height: 1.5;
        }
    }

}

#signup-img {
    height: 250px;
    width: 400px;

    @media(max-width: map-get($grid-breakpoints , sm)){
        height: 200px;
        width: 350px;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media(max-width: map-get($grid-breakpoints , md)){
        height: 200px;
        width: 350px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.text-div {
    min-height: 200px;
}

#foundervine-text {
    text-align: center;
    background-color: black;
    color: white;
}

.trusted-by-container {
    background-color: white;
}

.eqWrap {
	display: flex;
}

.eq {
    // padding: 10px;
    text-align: center;
}

.equalHMWrap {
	justify-content: space-between;
}

.equalHM {
	width: 32%;
}

.equalHMRWrap {
	justify-content: space-between;
	flex-wrap: wrap;
}

.equalHMR {
	width: 50%;
}

.equalHMVWrap {
	flex-wrap: wrap;
}

.equalHMV {
	width: 50%;
	margin: 0%;	
}

.big_icon {
    font-size: 60px;
    line-height: 65px;
}

.big_title {
    font-size: 40px;
    line-height: 45px;
    color: black;
}

.big_text {
    font-size: 25px;
    line-height: 35px;
    color: black;
}