<div class="container-content mb-4">
  <!-- ## Banner ## -->
  <div class="row banner">
    <div class="col-md-6 banner-img" [ngClass]="routeAnimationsElements"></div>
    <div class="col-md-6 banner-text">
      <!-- class="jumbotron mt-3" dark rektangle banner -->
      <div id="banner-content" fxLayout="column" fxLayoutAlign="center center">
        <p class="lead-title" [ngClass]="routeAnimationsElements">
          Find your next virtual event, conference, exhibition or trade show.
        </p>
        <p id="discover-text"class="mt-4" [ngClass]="routeAnimationsElements">
          Connect 1:1 with others attending. 
        </p>
        <p id="discover-text" class="mt-4" [ngClass]="routeAnimationsElements">
          <i>Discover. Grow. Network.</i>
        </p>
    </div>
    </div>
    
  </div>

  <!-- ## Topics ## -->
  <div class="row topics spacer">
    <div class="col-md-8" 
        [ngClass]="routeAnimationsElements">
      <p>Search By</p>
      <div fxLayoutAlign.lg="center center">
        <span *ngFor="let topic of topics">
          <button class="topic-btn" [ngClass]="routeAnimationsElements"
                  (click)="onTopicClick(topic)" 
                  mat-raised-button color="accent">
            {{topic}}
          </button>
        </span>
      </div>
    </div>  
  </div>

  <!-- ## Industry ## -->
  <div class="row topics spacer">
    <div class="col-md-8" [ngClass]="routeAnimationsElements">
      <p>Industry</p>
      <div>
        <span  *ngFor="let industry of industries">
          <button class="topic-btn" [ngClass]="routeAnimationsElements"
                  (click)="onTopicClick(industry)" 
                  mat-raised-button color="primary">
            {{industry}}
          </button>
        </span>
      </div>
    </div>  
  </div>

  <div class="row" *ngIf="events.length > 0" style="justify-content: center;">
    <div class="col-md-12">      
      <h1 id="feature-text" class="d-flex justify-content-center">Featured Events</h1>
      <h1 [ngClass]="routeAnimationsElements" 
          class=" mt-3 d-flex justify-content-center" 
          *ngIf="toShow.length === 0">
          There are no {{searchedTerm}} events
      </h1>
      <div class="row ml-3 mr-3 spacer d-flex justify-content-center" 
          [ngClass]="routeAnimationsElements">
          <app-event-card *ngFor="let event of toShow"
                          [imgUrl]="event.imageUrl" 
                          [event]="event" 
                          class="col-sm-4 col-md-4 "></app-event-card>
      </div>
    </div>
  </div>
  

  <div fxLayoutAlign="center center" 
      [ngClass]="routeAnimationsElements" 
      class="spacer mt-4 text-div" 
      id="customer-text">
    <h1>Search for events. Read reviews. Book events. Network 1:1 with other professionals attending.</h1>
  </div>  
  

  <div id="signup" class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-5" 
             id="signupLogo"
             [ngClass]="routeAnimationsElements" 
             style="text-align: center;">
          </div>
        <div class="col-md-7 signup-content" 
              style="text-align: center;"
              fxLayout="column" 
              fxLayoutAlign="center center" 
              [ngClass]="routeAnimationsElements">
          <h1 id="hearFromYou">We want to hear from you</h1>
          <p class="textSize">With over 300,000 business events (and counting!) we’re taking the frustration out of event search and providing you with credible events, ratings and reviews, booking and the option to take part 
              in 1:1 video meetings with other professionals attending the same event. 
          </p>
          <p class="textSize"> We’re in the BETA phase of this platform so please bear with us. As not all the features have been built, if you’d like to be the first to test 
              new features such as the 1:1 video  networking, please sign up!
          </p>
          <button mat-raised-button
                  routerLink="/register" 
                  type="button"
                  color="accent">
            <span class="textSize">Join waitlist</span>
          </button>
        </div>
      </div>            
    </div>
  </div>
</div>

<div fxLayoutAlign="center center" 
      [ngClass]="routeAnimationsElements" 
      class="spacer mt-4 text-div" 
      id="foundervine-text">
    <h1 class="title">Akara came first in Foundervine's June 2020 cohort for budding entrepreneurs!</h1>
</div>

<div class="row trusted-by-container pt-5 pb-5 mt-3 mb-3" fxLayout="column" fxLayoutAlign="center center">
  <p class="big_title">Trusted By</p>
  <div class="equalHMVWrap eqWrap mt-4 mb-4">
    <div class="equalHMV eq" fxLayout="column" fxLayoutAlign="center center">
        <span class="big_title">Innovate Finance</span>
        <img style="height: 200px; width: 400px; text-align: center;" class="mt-2 mb-2" src="../../../assets/images/InnovateFinance.png" />
        <span class="big_text mt-4">The UK's leading independent industry body for global FinTech. </span>
    </div>
    <div class="equalHMV eq" fxLayout="column" fxLayoutAlign="center center">
        <span class="big_title">City & Financial Global</span>
        <img style="height: 200px; width: 400px; text-align: center;" class="mt-2 mb-2" src="../../../assets/images/C&F.png" />
        <span class="big_text mt-4">One of the UK's leading research-based conference and webinar providers.</span>
    </div>
</div>    
</div>
 