<div class="row banner" *ngIf="event">
    <div fxLayoutAlign="center center"
         class="col-md-6 banner-logo" [ngClass]="routeAnimationsElements"
         *ngIf="event.id != 14 && event.id != 15 && event.id != 16 && event.id != 17"
         [style.background-image]="'url(' + imgUrl + ')'">         
    </div>
    <!-- Todo use img-fluid for all  -->
    <div fxLayoutAlign="center center"
         class="col-md-6 banner-logo" 
         [ngClass]="routeAnimationsElements"
         [style.backgroundColor]="'white'"
         *ngIf="event.id == 14">
         <img class="img-fluid" src="../../../../assets/images/XFW_2021_logo.png" alt="">
    </div>
    <div fxLayoutAlign="center center"
         class="col-md-6 banner-logo" 
         [ngClass]="routeAnimationsElements"
         [style.backgroundColor]="'white'"
         *ngIf="event.id == 15">
         <img class="img-fluid" src="../../../../assets/images/FTN_logo.png" alt="">
    </div>
    <div fxLayoutAlign="center center"
         class="col-md-6 banner-logo" 
         [ngClass]="routeAnimationsElements"
         [style.backgroundColor]="'white'"
         *ngIf="event.id == 16">
         <img class="img-fluid" src="../../../../assets/images/Summit18-payments-canada.png" alt="">
    </div>
    <div fxLayoutAlign="center center"
         class="col-md-6 banner-logo" 
         [ngClass]="routeAnimationsElements"
         [style.backgroundColor]="'white'"
         *ngIf="event.id == 17">
         <img class="img-fluid" src="../../../../assets/images/OFW_primary_logo_June20.png" alt="">
    </div>
    <div fxLayout [ngClass]="routeAnimationsElements"
         fxLayoutAlign.gt-sm="flex-start center" 
         class="col-md-6 banner-content mt-5 mb-5">
        <div>
            <h1 class="title">{{event.name}}</h1>
            <p>Hosted by <strong>{{event.organizer}}</strong></p>          
            <p>                    
                <app-stars-rating [useDarkGrayBackground]="useDarkGrayBackground"
                                  [starValue]="overallRating"></app-stars-rating>
                
                <span class="ml-4">{{numberOfReviews}} reviews</span>
            </p>
            <p fxLayout="row">
                <span fxLayout>
                    <mat-icon>location_on</mat-icon>
                    <span *ngIf="!isVirtual" class="ml-2">{{event.city}}, {{event.country}}</span>
                    <span *ngIf="isVirtual" class="ml-2">{{event.city}}</span>
                </span>
                <span fxLayout class="ml-5">
                    <mat-icon>calendar_today</mat-icon>
                    <span class="ml-2">{{event.featuredDate | date: 'MMMM yyyy'}}</span>
                </span>
            </p>
            <p>
                <span *ngIf="event.website" fxLayout>
                    <mat-icon>info</mat-icon>
                    <span class="ml-2">
                        <a target="_blank" class="url" [href]="event.website">{{event.website}}</a>                            
                    </span>
                </span>
            </p>
            <p>
                <span fxLayout>
                    <mat-icon>storage</mat-icon>
                    <span class="ml-2">{{event.features}}</span>
                </span>
            </p>
            <p>
                <span fxLayout>
                    <mat-icon>people</mat-icon>
                    <span class="ml-2">{{event.numberOfAttendees | number}} attendees</span>
                </span>
            </p>
        </div>
    </div>
</div>