@import '../../../../assets/styles-variables.scss';

.url {
    text-decoration: none;
    cursor: pointer;
    color: white;

    &:hover {
        text-decoration: underline;
        // color: $primary;
        color: darkgray;
    }
}

.banner {
    background-color: black;
    color: white;
    // width: 100%;
    min-height: 400px;

    .banner-logo {
        display: flex;
        background-size: cover;
        min-height: 400px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        // background-image: url('../../../../assets/images/UKFW.jpg');
        
        // background: url("../../../../assets/images/UKFW.jpg") no-repeat center center fixed;
  

        @media(max-width: map-get($grid-breakpoints, sm)) {
            min-height: 200px;
        }
        @media(max-width: map-get($grid-breakpoints, md)) {
            min-height: 200px;
        }
    }
    .banner-content {
        padding-left: 50px;
        
        font-size: 20px;
        line-height: 30px;

        .title {
            font-size: 40px;
            line-height: 40px;
        }

        @media(max-width: map-get($grid-breakpoints, sm)) {
            display: flex;
            justify-content: center;
            text-align: center;
            padding-left: 30px;
            
            font-size: 13px;
            line-height: 15px;

            .title {
                font-size: 25px ;
            }
        }

        @media(max-width: map-get($grid-breakpoints, md)) {
            display: flex;
            padding-left: 30px;
            justify-content: center;
            text-align: center;

            font-size: 13px;
            line-height: 15px;

            .title {
                font-size: 35px ;
            }
        }
    }
}