/* You can add global styles to this file, and also import other style files */
@import "styles-variables"; 
@import "styles-reset";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// "./node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css", //adding angular mat
              

main > .container {
    padding: 35px 0;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
   border-left: 5px solid #a94442; /* red */
}
// ang mat
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-checkbox-label {
  padding-left: 15px;
}

.checkbox-no-margin-bot {
  .mat-checkbox.mat-accent {
    .mat-checkbox-layout {
        margin-bottom: 0px !important;
    }
    .mat-checkbox-inner-container {
       margin: 2px 10px auto 0 !important;       
    }

    .mat-checkbox-label {
      white-space: normal;
    }
 }
}

.mat-chip-list-center {
  .mat-chip-list-wrapper {
    justify-content: center;
  }
}
