<!-- <header> 
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <strong>Akara</strong>
      </a>
      <nav *ngIf="!isAuthenticated" class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-light" routerLink="[]">Add Events</a> |
          <a class="p-2 text-light" routerLink="[]">Add Review</a> |
          <a class="p-2 text-light" routerLink="[]">For Event Organizers</a> |
         <a class="p-2 text-light" routerLink="/register">Signup</a> |
         <a class="p-2 text-light" routerLink="/login">Login</a> |         
      </nav>
      <nav *ngIf="isAuthenticated" class="my-2 my-md-0 mr-md-3">        
         <a class="p-2 text-light" 
            [routerLink]="['/evaluation-form']"
            [queryParams]="{eventid: 1}">Evaluation Form</a> |
         <a class="p-2 text-light" routerLink="[]">Add Events</a> |
         <a class="p-2 text-light" routerLink="[]">Add Review</a> |
         <a class="p-2 text-light" routerLink="[]">For Event Organizers</a> |
         <a class="p-2 text-light" routerLink="/topsecret">Top Secret Area</a> |         
         <app-menu-icon class="text-light"></app-menu-icon>            
      </nav>
    </div>    
  </div>
</header> -->

  <!-- <a class="p-2 text-light" (click)="signout()" href="javascript:void(0)">Signout {{name}}</a> | -->

  <header>
    <mat-toolbar color="primary">Akara Header</mat-toolbar>
  </header>