<div fxLayout="row" [ngClass]="routeAnimationsElements">
    <div class="col-sm-2 col-md-4" fxLayoutAlign="center center">
        <div class="logo" fxLayout="column" fxLayoutAlign="center center" >
            <img src="../../../../../assets/images/person.jpg" alt="photo">
            <h1 class="mt-2">{{reviewData.firstName | titlecase}} {{ getFirstChar(reviewData.lastName) | uppercase }}</h1>
            <span>Wrote a review on {{reviewData.dateCreated | date: 'MMMM yyyy'}}</span>
        </div>
    </div>
    <div class="col-sm-10 col-md-8" class="card-content">
        <p>
            <app-stars-rating [starValue]="reviewData.overallRating"></app-stars-rating>
            <!-- {{ratingText}} -->
        </p>
        <h1>{{reviewData.reviewHeadline}}</h1>
        <p>
            {{reviewData.reviewText}}
        </p>
        <p>Attendee Type: <span><strong>{{reviewData.delegateType}}</strong></span></p>

        <div class="row">
            <div class="col-md-6 left-side">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <div class="col-md-12">
                        <app-review-vote [data]="speakersAndContent"></app-review-vote>
                    </div>
                    <div class="col-md-12">
                        <app-review-vote [data]="seniorityAttendees"></app-review-vote>
                    </div>
                    <div class="col-md-12">
                        <app-review-vote [data]="valueForMmoneyTime"></app-review-vote>
                    </div>
                </div>
               
            </div>
            <div class="col-md-6 right-side">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <div class="col-md-12">
                        <app-review-vote [data]="networkingOpportunities"></app-review-vote>
                    </div>
                    <div class="col-md-12">
                        <app-review-vote [data]="businessMeetings"></app-review-vote>
                    </div>
                    <div class="col-md-12">
                        <app-review-vote [data]="recommendToOthers"></app-review-vote>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>