@import '../../../../../assets/styles-variables.scss';

*{
    padding: 0;
    margin: 0;
}

.logo {
    img {
        width: 100px;
        height: 100px;
    }

    padding-right: 15px;

    @media(max-width: map-get($grid-breakpoints, sm)) {
        img {
            width: 60px;
            height: 60px;
        }
        h1 {
            font-size: 13px;
            margin-bottom: 0;
        }
        text-align: center;

        span {
            font-size: 11px;            
        }
    }
    @media(max-width: map-get($grid-breakpoints, md)) {
        img {
            width: 80px;
            height: 80px;
        }

        h1 {
            font-size: 14px;
            margin-bottom: 0;
        }
        text-align: center;

        span {
            font-size: 12px;            
        }
    }
}

.left-side {
    padding-right: 15px;

    @media(max-width: map-get($grid-breakpoints, sm)) {
        padding-right: 0;
    }
    @media(max-width: map-get($grid-breakpoints, md)) {
        padding-right: 0;
    }
}

.right-side {
    padding-left: 15px;

    @media(max-width: map-get($grid-breakpoints, sm)) {
        padding-left: 0;
    }
    @media(max-width: map-get($grid-breakpoints, md)) {
        padding-left: 0;
    }
}

.border-left {
    padding-left: 20px;

    @media(max-width: map-get($grid-breakpoints, sm)) {
        padding-left: 0;
    }
    @media(max-width: map-get($grid-breakpoints, md)) {
        padding-left: 0;
    }
}

.card-content {
    width: 100%;
    border: solid 1px black;
    border-radius: 10px;
    padding: 20px;

    @media(max-width: map-get($grid-breakpoints, sm)) {
        padding: 10px;
        h1 {
            font-size: 12px;
            margin-bottom: 10px;
            line-height: 1.5;
        }
        p {
            font-size: 10px;
            line-height: 1.5;
        }
    }
    @media(max-width: map-get($grid-breakpoints, md)) {
        padding: 10px;
        h1 {
            font-size: 15px;
            margin-bottom: 10px;
            line-height: 1.5;
        }

        p {
            font-size: 13px;
            line-height: 1.5;
        }
    }
}