<footer >
    <section>
        <div class="row" 
             fxLayoutAlign="center center">
            <div class="col-md-6">
                <div fxLayout="column"
                     fxLayoutGap="20px" 
                     class="ft-content"
                     fxLayoutAlign="center center">
                    <img id="ft-logo" src="../../../assets/images/akara.png">

                    <p>Discover. Grow. Network.</p>
                    
                    <div fxLayoutGap="30px" 
                         class="social-media-icons"
                        fxLayoutAlign="center center">
                        <a target="_blank" href="https://www.linkedin.com/company/akaralive/">
                            <fa-icon class="social-medias" style="color: #0976b4;"
                                    [icon]="faLinkedIn"></fa-icon>
                        </a>
                        <a target="_blank" href="https://www.facebook.com/Akaralive-112567093842926/?view_public_for=112567093842926">
                            <fa-icon class="social-medias" style="color: #3b5998;"
                                    [icon]="faFacebook"></fa-icon>
                        </a>
                        <a target="_blank" href="https://twitter.com/akaralive">
                            <fa-icon class="social-medias" style="color: #55acee;"
                                    [icon]="faTwitter"></fa-icon>
                        </a>
                        <a target="_blank" href="https://www.instagram.com/akaralive/">
                            <fa-icon class="social-medias" style="color: #e4405f;"
                                    [icon]="faInstagram"></fa-icon>
                        </a>
                    </div>                    

                    <p fxLayoutAlign="center center" 
                        style="text-align: center; line-height: 1.6;">
                        Copyright © 2020 Akara Ltd. - All Rights Reserved. Company Number 12620528. 
                        Akara Ltd is registered in England and Wales. 
                    </p>
                    <p style="text-align: center;">
                        Contact: <a href="mailto:hello@akaralive.com">hello@akaralive.com</a> 
                    </p>
                    <div>
                        <span>
                            <a class="link" 
                                routerLink="/privacy-policy">
                                PRIVACY POLICY</a>
                        </span>
                        <span class="ml-4">
                            <a class="link" 
                                routerLink="/cookies-policy">
                                COOKIES POLICY</a>
                        </span>
                        <span class="ml-4">
                            <a class="link" 
                                routerLink="/terms-conditions">
                                TERMS & CONDITIONS</a>
                        </span>
                    </div>
                                        
                    <ng-content></ng-content>

                </div>
                
            </div>
        </div>
        
    </section>
</footer>