// https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-multi-level-sticky-footer-with-flexbox--cms-33341
@import '../../../assets/styles-variables.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

.link {
    text-decoration: none;
    color: black;
}

.ft-content {
    font-size: 15px;
    // color: darkgray;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;

    @media(max-width: map-get($grid-breakpoints, sm)){
        padding-left: 10px;
        padding-right: 10px;

        p {
            text-align: center;
        }
    }
}

#ft-logo {
    width: 140px;
    height: 40px;
}

.social-media-icons {
    width: 100%;
    font-size: 35px;

    fa-icon {
        color: #0E0F68;
    }
}

#ft-akaralink {
    text-decoration: underline;
    cursor: pointer; 
    // color: darkgray;
    color: black;
}

