<div class="app-container">
  <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
      <mat-nav-list *ngIf="isAuthenticated">
        <a mat-list-item 
           *ngFor="let item of authenticatedNavigationMenu"
            (click)="sidenav.close()"
           [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label}}
        </a>
      </mat-nav-list>
      <mat-nav-list *ngIf="!isAuthenticated">
        <a mat-list-item 
           *ngFor="let item of unauthenticatedNavigationMenu"
            (click)="sidenav.close()"
           [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label}}
        </a>
        <a (click)="onLogOut()" *ngIf="isAuthenticated">Log out</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content id="appcontent">
      <!-- <app-header></app-header> -->
      <header>
        <mat-toolbar class="header">
          <button mat-icon-button class="d-md-none"
                  (click)="sidenav.open()">
            <fa-icon icon="bars"></fa-icon>
          </button>

          <span class="branding spacer d-none d-md-inline"
                routerLink="/home">
            <img src="../../assets/images/akara2x.png" alt="logo">
          </span>

          <span class="branding spacer center d-inline d-sm-none" 
                routerLink="/home">
            <img src="../../assets/images/akara2x.png" alt="logo">
          </span>

          <span class="branding spacer center d-none d-sm-inline d-md-none" 
                routerLink="/home">
            <img src="../../assets/images/akara2x.png" alt="logo">
          </span>

          <div *ngIf="isAuthenticated">
            <span>
              <a routerLink="/eventorganizers" class="event-organizer-btn">For Event Organizers</a>
            </span>
            <span class="d-none d-md-inline"
                  routerLinkActive="active"
                  [routerLink]="[item.link]"
                  *ngFor="let item of navigation">
                  <button mat-button>
                      {{item.label}}
                  </button>
            </span>
            <app-menu-icon class="text-light"></app-menu-icon>
          </div>
          
          <div *ngIf="!isAuthenticated">
            <span>
              <a routerLink="/eventorganizers" class="event-organizer-btn">For Event Organizers</a>
            </span>
            <span class="d-none d-md-inline ml-3"
                  routerLinkActive="active"
                  [routerLink]="'/register'">
                  <button mat-raised-button color="accent">
                      Free Sign up
                  </button>
            </span>
            <span class="d-none d-md-inline ml-3"
                  routerLinkActive="active"
                  [routerLink]="'/login'">
                  <button mat-button>
                      Log in
                  </button>
            </span>
            <!-- <app-menu-icon class="text-light"></app-menu-icon> -->
          </div>

          <!-- <span>

          </span> -->
        </mat-toolbar>
      </header>
      
      <!-- Main section content -->
      <main role="main" class="app-content">
        <div [@routeAnimations]="o.isActivated">
          <router-outlet #o="outlet"></router-outlet>
        </div>
      </main>


      <app-footer class="footer mt-auto"></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>