@import '../../assets/styles-variables.scss';
.app-container {
    // display: flex;
    // min-height: 100vh;
    // flex-direction: column;
    width: 100%;

    #appcontent{
        display: flex;
        flex-direction: column;
    }

    .branding {
        cursor: pointer;

        img {
            margin-left: 50px;
            width: 140px;
            height: 40px;

            @media (max-width: map-get($grid-breakpoints, sm)){        
                margin-left: 0;  
            }
        }

        &.center {
            text-align: center;
        }
    }

    .spacer {
        flex: 1 1 auto;
    }
}

.header {
    background-color: white;
    color: darkgrey;
}

.app-content {
    background-color: white;
    color: darkgray;
    margin: 0;
    padding: 0;
}

.event-organizer-btn {
    color: darkgray;
    font-size: 16px;
    font-weight: 500;

    &:hover {
        color: lightgray;
        cursor: pointer;
        text-decoration: underline;
    }
}

