<div class="content">
    <div class="row" fxLayoutAlign="center center">
        <div class="col-12 col-md-6">
            <h1 class="header mb-4">Our Terms & Conditions</h1>
            <p>February 2021 (Version 1.0)</p>
            <p>
                These user terms and conditions (hereinafter referred to as the "User Terms") 
                apply to any use of the Akara website (hereinafter referred to as the "Website").
            </p>
            <p>
                The Website is supplied by Akara Ltd, Companies House no. 12620528, 
                <a href="mailto:hello@akaralive.com">hello@akaralive.com</a> 
                In these User Terms, the words "we", "us" and "ours" refer to Akara
            </p>

            <p>
                These User Terms are deemed to include all other operating rules, policies and guidelines 
                that are referred to herein or that we may otherwise publish on our 
                Website (as such, rules, policies and guidelines may be amended from time to time), 
                including without limitation:
            </p>
                <ul>
                    <li>Our Guidelines for “Guidelines for Reviewers on Akara Website” 
                        (hereinafter referred to as the "User Guidelines"), 
                        which is located on this page after the Terms & Conditions.</li>
                    <li>
                        Our Privacy Policy, which is located at 
                        <a href="http://www.akaralive.com/privacy-policy" target="_blank">
                            http://www.akaralive.com/privacy-policy</a>
                    </li>
                </ul>
            <p>
                By using the Website, you accept to be subject to the User Terms. If you do not accept these User Terms, you are kindly requested not to use the Website any further. 
                The registration as a user requires your express acceptance of these User Terms.
            </p>

            <p><strong>1. Registered User</strong></p>
            <p><strong>1.1 </strong> In order to gain full access to use the Website, you must be invited to submit a review 
                by an event organiser for an event you attended within the last 12 months. </p>
            <p><strong>1.2 </strong> Once you submit the review form with your personal details you register as a user (hereinafter referred to as "Registered User"). </p>   
            <p><strong>1.3 </strong> You must be 18 years of age or older in order to become a Registered User. </p>          
            <p><strong>1.4 </strong> You are only permitted to register one profile per person on the Website. The profile is personal and you must not transfer it to others. </p>          
            <p><strong>1.5 </strong> In order to become a Registered User, you must submit a review with your personal details. As we are in the beta phase of this platform 
                you will not have an account to log into yet. When this feature is ready, 
                you will be invited to choose your own password, which must be used with your 
                email address when logging on to the Website. Alternatively, we will send the 
                password to you. The password is personal and you must not transfer it or in other ways 
                make it available to others. It is your responsibility to ensure that the password does 
                not fall into the hands of a third party. If you become aware that the password is or may 
                have been compromised, you are obligated to inform us hereof. We can and will change the 
                password if there is a risk that the password has been compromised or is used in violation 
                of the User Terms. </p>
            <p><strong>1.6 </strong> During the registration process, you must include your first name and surname. Your first name and the initial of your surname will be shown on the Website whenever you write or comment on reviews or produce user-generated content (see 2.1 below) on the Website. Therefore, you must consider whether you wish to use a name from which you can be identified by others. The username must not (i) be offensive or in other ways insulting, (ii) contain the terms "Guest", "Admin", ".dk", ".com", etc. or (iii) contain characteristics which belong to a third party, including names of famous persons, or personal names to which you do not own the rights. You warrant that your username does not infringe on any rights (including any intellectual property rights) belonging to any third party and/or pertaining to the User Terms. If you have chosen to upload a profile photo, the restrictions and warranties set out in this clause 1.5 apply to your profile photo and you confirm that you have all title and rights to the picture. </p>          
            <p><strong>1.7 </strong> We are entitled at any time, without notice and without prejudice, to delete, suspend or change your profile in the event of your violation or suspected violation of these User Terms or applicable law. When deleting your profile, you will no longer have access to services on the Website which require your registration and/or login as a Registered User. When deleting your profile, we reserve the right to delete the user-generated content (see 2.1) you have made on the Website. </p>          
            <p><strong>1.8 </strong> Furthermore, we reserve the right, at any time and without notice or explanation, to delete your profile and user-generated content (see 2.1). In this case, our disclaimer applies without limitations. </p>          
            <p><strong>1.9 </strong> You are not permitted to gain access or attempt to gain access to the parts of the Website requiring user registration if you are not a Registered User. </p>          
        
            <p><strong>2. User-Generated Content </strong></p>
            <p><strong>2.1 </strong>To the fullest extent permitted by law, the rights (including all intellectual property rights) in any material, information, notifications, reviews, articles or other types of communication (hereinafter referred to as the "User-Generated Content" or "UGC") created on the Website by Registered Users are licensed to Akara for its non-exclusive use. The Registered User is not entitled to royalty payments or any other compensation or fee related to such UGC. We may freely use and transfer the UGC. Our non-exclusive access to freely use the UGC applies irrevocably without any time limitation and without territorial limitations.</p>
            <p><strong>2.2 </strong>Registered Users are liable for the UGC they publish on the Website.</p>
            <p><strong>2.3 </strong>Registered Users warrant that all UGC posted on the Website is correct and true (where they state facts) or genuinely held (where they state opinions).</p>
            <p><strong>2.4 </strong>The rules regarding what Registered Users may write about are regulated in the User Guidelines.</p>
            <p><strong>2.5 </strong>Registered Users must not publish UGC on the website which</p>
            <ul>
                <li>is of a marketing nature or marketing purposes,</li>
                <li>
                    is unlawful, deceptive, misleading, fraudulent, threatening, abusive, harassing, libelous, defamatory, tortious, obscene, pornographic or profane,
                </li>
                <li>has sexist, political or racial character,</li>
                <li>violates other people's rights, including any intellectual property rights,</li>
                <li>is offensive or in any way breaches any applicable local, national or international law or regulation,</li>
                <li>violates these User Terms, including the User Guidelines,</li>
                <li>has a disloyal or unlawful purpose and/or content (or promotes unlawful purposes),</li>
                <li>is technically harmful (including without limitation computer viruses, logic bombs, Trojan horses, worms, harmful components, corrupted data or other malicious software, harmful data or conduct).</li>
            </ul>
            <p><strong>2.6 </strong>Contributors of UGC warrant in every context that the UGC is lawful and in compliance with the User Terms. If we receive notice or otherwise become aware that UGC violates current legislation and/or the User Terms, we may delete the UGC without any notice, and we - dependent on the character of the violation - may inform the violated party and/or the authorities of the violation. Our right to delete will not be conditioned on an explanation, although we will strive to inform the Registered User about the deletion and the reason hereof.</p>
            <p><strong>2.7 </strong>The Registered User hereby grants us the right to initiate and take any legal actions which we deem necessary in case of infringement of the Registered User's UGC.</p>
            <p><strong>2.8 </strong>The Registered User must indemnify us for any claims which may be made against us as a consequence of the Registered User's violation of the User Terms, User Guidelines or current legislation. The Registered User must indemnify and hold us harmless from and against any claim or loss due to third party claims against us resulting from the UGC of the Registered User.</p>
            <p><strong>2.9 </strong>We may at any time request information about the UGC from the Registered User, including documentation supporting the information included in the UGC. The Registered User must e.g. document that the UGC is based on an actual buying or service experience in an actual customer relation to the company to which the UGC relates.</p>
            <p><strong>3. Rights </strong></p>
            <p><strong>3.1 </strong>The content on the Website, including but not limited to the intellectual property rights, text, characteristics, graphics, icons, photos, calculations, references and software, is the property of Akara or a third party owner (other than the Registered User) and is protected by UK or international legislation, including the UK Copyright Act, the UK Trademarks Act, the UK Marketing Practices Act, etc. If you provide feedback, ideas or suggestions regarding the Website or the services offered on the Website ("Feedback"), we are free to fully exploit such Feedback.</p>
            <p><strong>3.2 </strong>Unauthorised copying, distribution, presentation or other use of the Website or part hereof is a violation of the UK and/or other legislations and may thus result in civil and criminal penalties.</p>
            <p><strong>3.3 </strong>To the fullest extent permitted by law, the rights to free use of the UGC are transferred to us irrevocably, without any time limitation and without territorial limitations, by submitting the UGC to us.</p>
            <p><strong>3.4 </strong>Downloading and other digital copying of the content on the Website or parts hereof are only permitted for personal non-commercial use unless otherwise agreed with us in writing or allowed under applicable mandatory law.</p>
            <p><strong>3.5 </strong>All company names, trademarks and other business characteristics on the Website are or will be the property of Akara or a third party (other than the Registered User) and must only be used for business purposes upon prior approval from us or the third party owner, respectively.</p>
            <p><strong>4. Personal data </strong></p>
            <p><strong>4.1 </strong>We perform different types of processing of personal data in connection with the use of the Website. Our processing of personal data takes place under observance of our Privacy Policy, which can be obtained here: <a href="http://www.akaralive.com/privacy-policy" target="_blank">http://www.akaralive.com/privacy-policy</a> <br/> 
                By accepting these User Terms, you confirm to have read and accepted our Privacy Policy. <br/>
            </p>
            <p><strong>5. Disclaimer and indemnification </strong></p>
            <p><strong>5.1</strong>The Website, content and services offered on the Website are provided 'as is', and we make no warranties with respect to the content or accuracy of the UGC or the Website and shall not be held liable for our own or others' deletion or blockage of the UGC. We may, at any time at our own discretion and without any liability, delete any content on the Website. We expressly exclude all conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity.</p>
            <p><strong>5.2</strong>We shall not examine or monitor UGC which is published on the Website. Notwithstanding the foregoing, we may at all times investigate and edit (including anonymising) UGC, e.g. if such actions are (i) prompted by third party requests, (ii) required under applicable law or (iii) necessary for the UGC's compliance with our User Guidelines.</p>
            <p><strong>5.3</strong>We are not liable for the content of UGC. Our non-liability applies to any UGC, including UGC which has been edited by us (see 5.2). We are not liable for any links to third party websites in the UGC, including the content of the page to which the UGC links.</p>
            <p><strong>5.4</strong>Recommendations, reviews, comments, etc. of specific companies, services, e-businesses, etc. on the Website are only guidelines. We are in no case liable for the content of the Website. The use of Akara is in any respect the sole responsibility of the Registered Users. We are not liable for the availability of the Website.</p>
            <p><strong>5.5</strong>We are in no case liable for damages for the use of the Website, including (i) loss of profits, contracts, turnover, business, business opportunity, loss or corruption of data or recovery of data, goodwill, security breach resulting from a failure of third party telecommunications and/or the internet, anticipated savings or revenue (regardless of whether any of these are direct, indirect or consequential) (ii) any loss or damage arising in connection with liabilities to third parties (whether direct, indirect or consequential) or (iii) any indirect or consequential loss or damage whatsoever.</p>
            <p><strong>5.6</strong>Nothing in the User Terms excludes or limits our liability for death or personal injury arising from negligence, nor liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.</p>
            <p><strong>6. Other User Terms </strong></p>
            <p><strong>6.1 </strong> We may at any time and without notice revise or change these User Terms or, in our own discretion and without notice, close, change or reorganise the Website. As a Registered User you accept to be covered by the at all times current User Terms. Any revision or change of the User Terms will be stated on the Website. The Registered Users agree that the continued use of the Website after any posted modified version of the User Terms is an acceptance of the modified User Terms.</p>
            <p><strong>6.2 </strong>Should any of these User Terms be regarded as unlawful or without effect and therefore not to be enforced, this will not have any effect on the applicability and enforcement of the remaining part of the User Terms.</p>
        
            <p><strong>7. Term and termination </strong></p>
            <p><strong>7.1 </strong> We may terminate your right to access and use the services offered on the Website at any time for any reason without liability. If we do so, or if you elect to delete your profile, any rights granted to you herein will immediately cease. Section 2-8 will survive any termination of the User Terms.</p>
            <p><strong>8. Applicable law and venue </strong></p>
            <p><strong>8.1 </strong> The User Terms are subject to UK law, and, unless otherwise stated, the general rules of UK law apply in all relations between us and the Registered Users and the users of the Website. Any disputes must be brought before the court of Akara’s UK jurisdiction unless this violates the mandatory jurisdiction rules.</p>
            
            <p><strong>Guidelines for Reviewers on Akara Website</strong></p>
            <p>
                February 2021 (version 1.0) <br/>
Akara is here to help you shape and improve the business events you attend. We do it by giving you a powerful, open-to-all review platform where you can share and discover experiences, and connect with businesses to help them improve. <br/>
The only thing we ask is that you respect and follow these guidelines (together with our Terms of Use) to help us all keep Akara a collaborative and trustworthy place for everyone to enjoy. Thanks for getting on board — let’s upgrade business events! <br/>

            </p>

            <p><strong>You can write a review if you’ve had a recent, genuine experience.</strong></p>
            <p>
                Reviews are your chance to share your experiences with others and give feedback to companies. Size doesn’t matter here, we think all experiences at events, big and small are worth reviewing — whether you attended as press/media, VIP, Speaker, Sponsor/ Exhibitor or a delegate. <br/>
                Just keep it fresh by writing about your experience that happened in the past 12 months. Please do not share experiences that happened years ago. The world changes quickly. When you share your recent experiences, other readers get a feel for how an event is operating now…. Not in the past. And companies get valuable up-to-date feedback. <br/>
            </p>
            <p><strong>Don’t write a fake or biased review</strong></p>
            <p>
                Don’t make up an experience or write a review for someone else — leave it to them to write their own review. And if you’re closely associated with, work for, or are in competition with a particular event, you shouldn’t review it. <br/>
            </p>
            <p><strong>Keep proof of your experience</strong></p>
            <p>
                Hold onto documentation that shows you’ve had an experience with the company (for example, a receipt, order confirmation, screenshot of your chat with online customer service) because you might be asked to verify your experience.
            </p>
            <p><strong>Play nice</strong></p>
            <p>
                We expect you to be a respectful contributor to our platform. So play nice, don’t be mean. Don’t post anything harmful, hateful, discriminatory, defamatory or obscene. And don’t lie, bully, blackmail, make threats or do anything illegal.</p>

            <p><strong>What exactly is defamatory?</strong></p>
            <p>
                That's a tough one to explain. We're a platform that sits between you the event goer and the event organiser, so we have to balance competing responsibilities: We want to let everyone tell their story (good or bad), but we're also required to take down words and statements that are likely to cause serious harm to someone’s reputation or serious financial loss to a business. <br/>
                The most powerful reviews explain what took place and leave it to readers to draw their own conclusions. <br/>
                We don’t get involved in disputes about what actually went down between a reviewer and a business. Akara is a consumer review platform, not a regulatory authority or a court of law.<br/>
            </p>
            <p><strong>Promos are no-nos</strong></p>
            <p>
                Keep your reviews relevant — don’t include any promotional references, marketing material or links. This isn’t the place to sell stuff, offer discount codes, form action groups or meet other like-minded singles in your area.
            </p>
            <p><strong>Remember, we are a public review site</strong></p>
            <p>
                Your reviews are public so we will only feature your first name and the first initial of your surname E.g. Mary. S. This helps the event organiser (should they need to) check the authenticity of the review and rating against the attendee list of the event being reviewed. It goes with out saying, you should never use someone else’s name or personal information when leaving a review. 
            </p>
            <p><strong>Your user account</strong></p>
            <p>
                We’re in the beta phase of this platform so you will not have an account for the time being. But you cannot leave a review without submitting your personal information like name and email address. This is also important in case in case we need to contact you <br/>
                In the future, your account may be automatically created and pre-filled with your name and the details you submitted when filling out the review form. We will let you know when this happens. You will also have a password to access any future account. You can always edit your details to include only the information you want publicly displayed. <br/>
            </p>
            <p><strong>Edit or delete your review</strong></p>
            <p>
                Your review is owned by Akara while we are in beta phase of the platform. That means if you wany to edit, update or delete your review at any time please contact us at <a href="mailto:hello@akaralive.com">hello@akaralive.com</a><br/>
            </p>
            <p><strong>Anyone can flag reviews</strong></p>
            <p>
                We love it when you put on your superhero sidekick shirt and help us protect our platform by letting us know about problematic reviews — especially if you’ve got proof. Only flag a review if you genuinely believe there’s a problem, and please be fair and consistent.<br/>
                We’ll check flagged reviews to see if they breach our guidelines. And if they do, we’ll take action.<br/>
            </p>
            <p><strong>Dealbreakers</strong></p>
            <p>
                We’re all for freedom of expression, but some content just won’t fly. If someone flags your review for breaking our rules, we may temporarily hide it and ask you to make some changes. We’ll give you the opportunity to bring genuine reviews within our guidelines so they can stay on Akara.<br/>
                But if you seriously misuse our platform we can remove your reviews and/or block or delete your account. If your account is deleted, your reviews will also be deleted.<br/>
            </p>
            <p><strong>The final say</strong></p>
            <p>
                These guidelines are just that: guiding principles. Please understand that we have the final say with regard to the interpretation and application of these guidelines, and we can update them at any time. If you’d like more detailed information about how we work, you’re welcome to email us at <a href="mailto:hello@akaralive.com">hello@akaralive.com</a> </p>
        </div>
    </div>
</div>